<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7628be0bbe599cd311b6d823ddd80b3d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7628be0bbe599cd311b6d823ddd80b3d" ></div>
        
</body>
<script>
    
    
            var map_7628be0bbe599cd311b6d823ddd80b3d = L.map(
                "map_7628be0bbe599cd311b6d823ddd80b3d",
                {
                    center: [1.2959, 103.7745],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_587faa4b74e4c1f3d11c9e773a06d615 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var marker_e4b224daaedc35bfb275a346cda5df2f = L.marker(
                [1.294572999, 103.7796455],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_acfa96d654417d4c1c5ce1931356bd4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e4b224daaedc35bfb275a346cda5df2f.setIcon(icon_acfa96d654417d4c1c5ce1931356bd4f);
        
    
        var popup_25e75f3086b2e12fb68c00b02f4fea3f = L.popup({"maxWidth": "100%"});

        
            
                var html_70825770b11560c99f84653eff2f05a8 = $(`<div id="html_70825770b11560c99f84653eff2f05a8" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at 5 KR BUNGALOW</div>`)[0];
                popup_25e75f3086b2e12fb68c00b02f4fea3f.setContent(html_70825770b11560c99f84653eff2f05a8);
            
        

        marker_e4b224daaedc35bfb275a346cda5df2f.bindPopup(popup_25e75f3086b2e12fb68c00b02f4fea3f)
        ;

        
    
    
            var marker_2ad73720d0b073ae9b7c71704aed43e5 = L.marker(
                [1.300002869, 103.7739354],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_b215bb94c6505bced480d723102f3c9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2ad73720d0b073ae9b7c71704aed43e5.setIcon(icon_b215bb94c6505bced480d723102f3c9b);
        
    
        var popup_4f6f76b5e33cbf1eae2416e4228bf2f9 = L.popup({"maxWidth": "100%"});

        
            
                var html_683aad1520c6cd5013b07c78de368290 = $(`<div id="html_683aad1520c6cd5013b07c78de368290" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at RAFFLES HALL (COMMUNAL HALL)</div>`)[0];
                popup_4f6f76b5e33cbf1eae2416e4228bf2f9.setContent(html_683aad1520c6cd5013b07c78de368290);
            
        

        marker_2ad73720d0b073ae9b7c71704aed43e5.bindPopup(popup_4f6f76b5e33cbf1eae2416e4228bf2f9)
        ;

        
    
    
            var marker_923f9136e8cd458ea38f207f0025b738 = L.marker(
                [1.217102975, 103.8501062],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_db02c992e37acc4497964f0235246148 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_923f9136e8cd458ea38f207f0025b738.setIcon(icon_db02c992e37acc4497964f0235246148);
        
    
        var popup_1bd974876c6efd4ce2d759127990a307 = L.popup({"maxWidth": "100%"});

        
            
                var html_269cbb835988747814863e3f34ad7fe4 = $(`<div id="html_269cbb835988747814863e3f34ad7fe4" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at TMSI-ST JOHN'S ISLAND</div>`)[0];
                popup_1bd974876c6efd4ce2d759127990a307.setContent(html_269cbb835988747814863e3f34ad7fe4);
            
        

        marker_923f9136e8cd458ea38f207f0025b738.bindPopup(popup_1bd974876c6efd4ce2d759127990a307)
        ;

        
    
    
            var marker_e8e2be3792ef1f0eed6d1b980197e7fc = L.marker(
                [1.294495673, 103.7809137],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_683ec5b9942e4d41788149054aacd364 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e8e2be3792ef1f0eed6d1b980197e7fc.setIcon(icon_683ec5b9942e4d41788149054aacd364);
        
    
        var popup_4053a87572272ca2824ee2aabf98b17f = L.popup({"maxWidth": "100%"});

        
            
                var html_10817f207ad993d49e7c106c62691995 = $(`<div id="html_10817f207ad993d49e7c106c62691995" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at CTR FOR LIFE SCIENCES</div>`)[0];
                popup_4053a87572272ca2824ee2aabf98b17f.setContent(html_10817f207ad993d49e7c106c62691995);
            
        

        marker_e8e2be3792ef1f0eed6d1b980197e7fc.bindPopup(popup_4053a87572272ca2824ee2aabf98b17f)
        ;

        
    
    
            var marker_818abfcecdd3847bc66c94e3c827a4ba = L.marker(
                [1.294572999, 103.7796455],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_1bb399814a3db8f56f84c3e75cb9235c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_818abfcecdd3847bc66c94e3c827a4ba.setIcon(icon_1bb399814a3db8f56f84c3e75cb9235c);
        
    
        var popup_2cb0feb040a78d67d860379d74431a7b = L.popup({"maxWidth": "100%"});

        
            
                var html_b5ac37bd0a936b2e176292a4f093a1f6 = $(`<div id="html_b5ac37bd0a936b2e176292a4f093a1f6" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at 5 KR BUNGALOW</div>`)[0];
                popup_2cb0feb040a78d67d860379d74431a7b.setContent(html_b5ac37bd0a936b2e176292a4f093a1f6);
            
        

        marker_818abfcecdd3847bc66c94e3c827a4ba.bindPopup(popup_2cb0feb040a78d67d860379d74431a7b)
        ;

        
    
    
            var marker_1ca7815bf5e08fcdb0bd8fcf327c4cf9 = L.marker(
                [1.318059047, 103.8199399],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_df6fc2f6d9101760e8b8726137545053 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1ca7815bf5e08fcdb0bd8fcf327c4cf9.setIcon(icon_df6fc2f6d9101760e8b8726137545053);
        
    
        var popup_ec6a2ef708721123d200a04f35cdc2e9 = L.popup({"maxWidth": "100%"});

        
            
                var html_b2edcc3fac07baf06cba03f5112f0776 = $(`<div id="html_b2edcc3fac07baf06cba03f5112f0776" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at 20 EVANS BUNGALOW</div>`)[0];
                popup_ec6a2ef708721123d200a04f35cdc2e9.setContent(html_b2edcc3fac07baf06cba03f5112f0776);
            
        

        marker_1ca7815bf5e08fcdb0bd8fcf327c4cf9.bindPopup(popup_ec6a2ef708721123d200a04f35cdc2e9)
        ;

        
    
    
            var marker_c32e33ad6dd7eeb6d786a6c165807703 = L.marker(
                [1.295529468, 103.7802815],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_d188fa08695fd82b6af5f235a0be3e71 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c32e33ad6dd7eeb6d786a6c165807703.setIcon(icon_d188fa08695fd82b6af5f235a0be3e71);
        
    
        var popup_a47d9f4358f4e28976561eb89056a013 = L.popup({"maxWidth": "100%"});

        
            
                var html_26c81f381a4e64407c483a331542aa82 = $(`<div id="html_26c81f381a4e64407c483a331542aa82" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at LECTURE THEATRE 37</div>`)[0];
                popup_a47d9f4358f4e28976561eb89056a013.setContent(html_26c81f381a4e64407c483a331542aa82);
            
        

        marker_c32e33ad6dd7eeb6d786a6c165807703.bindPopup(popup_a47d9f4358f4e28976561eb89056a013)
        ;

        
    
    
            var marker_befb87ad666d72a39681f4e85bb16317 = L.marker(
                [1.291537312, 103.7756853],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_c8e968cbd07993c395903e01ee89ec44 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_befb87ad666d72a39681f4e85bb16317.setIcon(icon_c8e968cbd07993c395903e01ee89ec44);
        
    
        var popup_7d385c7284b082640d7d3b2b533cacc4 = L.popup({"maxWidth": "100%"});

        
            
                var html_035bc643811dbb1710116c48c5845c8a = $(`<div id="html_035bc643811dbb1710116c48c5845c8a" style="width: 100.0%; height: 100.0%;">SEXUAL INCIDENTS at SHEARES HALL (COMMUNAL HALL)</div>`)[0];
                popup_7d385c7284b082640d7d3b2b533cacc4.setContent(html_035bc643811dbb1710116c48c5845c8a);
            
        

        marker_befb87ad666d72a39681f4e85bb16317.bindPopup(popup_7d385c7284b082640d7d3b2b533cacc4)
        ;

        
    
    
            var marker_4f547f2a944cad26f4ff6ea11b13aa6a = L.marker(
                [1.294139769, 103.7801066],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_a319ee8fadd7ee26cbfafea5018b3dae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4f547f2a944cad26f4ff6ea11b13aa6a.setIcon(icon_a319ee8fadd7ee26cbfafea5018b3dae);
        
    
        var popup_0b8383e2edb9ce28d1abefcc5703e156 = L.popup({"maxWidth": "100%"});

        
            
                var html_159520307cfe220b4aa980077a1fa798 = $(`<div id="html_159520307cfe220b4aa980077a1fa798" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at 3 KR BUNGALOW</div>`)[0];
                popup_0b8383e2edb9ce28d1abefcc5703e156.setContent(html_159520307cfe220b4aa980077a1fa798);
            
        

        marker_4f547f2a944cad26f4ff6ea11b13aa6a.bindPopup(popup_0b8383e2edb9ce28d1abefcc5703e156)
        ;

        
    
    
            var marker_7ec12f10765402ce459f3883e2a52117 = L.marker(
                [1.290472992, 103.7804283],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_72360099f20f22c978354e2bcc6e57d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7ec12f10765402ce459f3883e2a52117.setIcon(icon_72360099f20f22c978354e2bcc6e57d5);
        
    
        var popup_e16f8c94adde0e27ba993270194cf0b4 = L.popup({"maxWidth": "100%"});

        
            
                var html_f93ceefc13c251da19a7136fc5e2b8f0 = $(`<div id="html_f93ceefc13c251da19a7136fc5e2b8f0" style="width: 100.0%; height: 100.0%;">SEXUAL INCIDENTS at PGP RESIDENCES (BLOCK 21)</div>`)[0];
                popup_e16f8c94adde0e27ba993270194cf0b4.setContent(html_f93ceefc13c251da19a7136fc5e2b8f0);
            
        

        marker_7ec12f10765402ce459f3883e2a52117.bindPopup(popup_e16f8c94adde0e27ba993270194cf0b4)
        ;

        
    
    
            var marker_71c04f512a96f4e0d6c3509c1d2271f1 = L.marker(
                [1.291524551, 103.7744384],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_247148e9315bda9da67b5f1c38df9826 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_71c04f512a96f4e0d6c3509c1d2271f1.setIcon(icon_247148e9315bda9da67b5f1c38df9826);
        
    
        var popup_d1b99b6effafe50df2bf2bb9b9a861ff = L.popup({"maxWidth": "100%"});

        
            
                var html_339b9852314fe365cfae7b1cbdf86b2b = $(`<div id="html_339b9852314fe365cfae7b1cbdf86b2b" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at KENT RIDGE HALL (BLOCK D)</div>`)[0];
                popup_d1b99b6effafe50df2bf2bb9b9a861ff.setContent(html_339b9852314fe365cfae7b1cbdf86b2b);
            
        

        marker_71c04f512a96f4e0d6c3509c1d2271f1.bindPopup(popup_d1b99b6effafe50df2bf2bb9b9a861ff)
        ;

        
    
    
            var marker_997186d5a42fdb2dd01c79a65e8e93af = L.marker(
                [1.297921449, 103.7758882],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_5316cca2987579129b5dd9ee73ed427a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_997186d5a42fdb2dd01c79a65e8e93af.setIcon(icon_5316cca2987579129b5dd9ee73ed427a);
        
    
        var popup_09d1b538210b92869ab0c2d5733c0c30 = L.popup({"maxWidth": "100%"});

        
            
                var html_0fab1839294ad60b9e3bb8085e2bebb0 = $(`<div id="html_0fab1839294ad60b9e3bb8085e2bebb0" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at RIDGE VIEW RESIDENCE (BLOCK D)</div>`)[0];
                popup_09d1b538210b92869ab0c2d5733c0c30.setContent(html_0fab1839294ad60b9e3bb8085e2bebb0);
            
        

        marker_997186d5a42fdb2dd01c79a65e8e93af.bindPopup(popup_09d1b538210b92869ab0c2d5733c0c30)
        ;

        
    
    
            var marker_c2870385d8c3ee51bd33bb8bac081380 = L.marker(
                [1.291805315, 103.7746999],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_9656288dccae8d0da38974fe17dfaa6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c2870385d8c3ee51bd33bb8bac081380.setIcon(icon_9656288dccae8d0da38974fe17dfaa6d);
        
    
        var popup_2b3264ffd790820528dfb0f7c3b62611 = L.popup({"maxWidth": "100%"});

        
            
                var html_c5cb5d3306dd6daf83900b7363c90033 = $(`<div id="html_c5cb5d3306dd6daf83900b7363c90033" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at HOUSE 5</div>`)[0];
                popup_2b3264ffd790820528dfb0f7c3b62611.setContent(html_c5cb5d3306dd6daf83900b7363c90033);
            
        

        marker_c2870385d8c3ee51bd33bb8bac081380.bindPopup(popup_2b3264ffd790820528dfb0f7c3b62611)
        ;

        
    
    
            var marker_e94aaf7b03ac2406a730d7f2312ef2b2 = L.marker(
                [1.29305545, 103.7807199],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_295160ac59c1236c25b1698cbe09ef6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e94aaf7b03ac2406a730d7f2312ef2b2.setIcon(icon_295160ac59c1236c25b1698cbe09ef6d);
        
    
        var popup_57157227f999f29ef7cfed63397861cd = L.popup({"maxWidth": "100%"});

        
            
                var html_eb5bf8ee4b6b130867419834cefb2cb1 = $(`<div id="html_eb5bf8ee4b6b130867419834cefb2cb1" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at KE VII HALL (BLOCK E)</div>`)[0];
                popup_57157227f999f29ef7cfed63397861cd.setContent(html_eb5bf8ee4b6b130867419834cefb2cb1);
            
        

        marker_e94aaf7b03ac2406a730d7f2312ef2b2.bindPopup(popup_57157227f999f29ef7cfed63397861cd)
        ;

        
    
    
            var marker_f1b36cac33b1cd67cbd8cfe22bc828b7 = L.marker(
                [1.297236942, 103.7779364],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_66c5497b3394fd53d83b964a852c782a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f1b36cac33b1cd67cbd8cfe22bc828b7.setIcon(icon_66c5497b3394fd53d83b964a852c782a);
        
    
        var popup_31368eaa68ff975f0b68a953ce4de3bc = L.popup({"maxWidth": "100%"});

        
            
                var html_a3f903fe306dded36de7ff92f9a9bdf4 = $(`<div id="html_a3f903fe306dded36de7ff92f9a9bdf4" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at UNIVERSITY HALL</div>`)[0];
                popup_31368eaa68ff975f0b68a953ce4de3bc.setContent(html_a3f903fe306dded36de7ff92f9a9bdf4);
            
        

        marker_f1b36cac33b1cd67cbd8cfe22bc828b7.bindPopup(popup_31368eaa68ff975f0b68a953ce4de3bc)
        ;

        
    
    
            var marker_4fc20e9183846cfa6a6e0f79682c1405 = L.marker(
                [1.293482761, 103.7803849],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_c09bcaf92576da6d6de23bdec12cd883 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4fc20e9183846cfa6a6e0f79682c1405.setIcon(icon_c09bcaf92576da6d6de23bdec12cd883);
        
    
        var popup_dc29731732af6e664d0069c356068bba = L.popup({"maxWidth": "100%"});

        
            
                var html_bbf698fabff447030ad1cf9546ec658b = $(`<div id="html_bbf698fabff447030ad1cf9546ec658b" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KE VII HALL (BLOCK G)</div>`)[0];
                popup_dc29731732af6e664d0069c356068bba.setContent(html_bbf698fabff447030ad1cf9546ec658b);
            
        

        marker_4fc20e9183846cfa6a6e0f79682c1405.bindPopup(popup_dc29731732af6e664d0069c356068bba)
        ;

        
    
    
            var marker_60e9577d406a39f97f1580d64bef02e2 = L.marker(
                [1.30219698, 103.767326],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_3826306d3d56d9a16fb6cc3b26fadee8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_60e9577d406a39f97f1580d64bef02e2.setIcon(icon_3826306d3d56d9a16fb6cc3b26fadee8);
        
    
        var popup_3a57da86863805b5a81528366b1044b2 = L.popup({"maxWidth": "100%"});

        
            
                var html_f97cb302d545410e5ca257ce7eaf134f = $(`<div id="html_f97cb302d545410e5ca257ce7eaf134f" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KENT VALE APARTMENT BLK F, 107</div>`)[0];
                popup_3a57da86863805b5a81528366b1044b2.setContent(html_f97cb302d545410e5ca257ce7eaf134f);
            
        

        marker_60e9577d406a39f97f1580d64bef02e2.bindPopup(popup_3a57da86863805b5a81528366b1044b2)
        ;

        
    
    
            var marker_deb79f3e13c55068f0511b4beb499e5a = L.marker(
                [1.291532109, 103.7746841],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_dd2c6280a80befe9df6737e8a1b5e36e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_deb79f3e13c55068f0511b4beb499e5a.setIcon(icon_dd2c6280a80befe9df6737e8a1b5e36e);
        
    
        var popup_9910b466ab888007995a14db1cc6d660 = L.popup({"maxWidth": "100%"});

        
            
                var html_e6dbb9d8e80566fd5b0980bc4f69ccce = $(`<div id="html_e6dbb9d8e80566fd5b0980bc4f69ccce" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KENT RIDGE HALL (BLOCK C)</div>`)[0];
                popup_9910b466ab888007995a14db1cc6d660.setContent(html_e6dbb9d8e80566fd5b0980bc4f69ccce);
            
        

        marker_deb79f3e13c55068f0511b4beb499e5a.bindPopup(popup_9910b466ab888007995a14db1cc6d660)
        ;

        
    
    
            var marker_e015f405e575b6e319232b847487ca54 = L.marker(
                [1.318059047, 103.8199399],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_86e9341fccc40b1e8b2006ac1215b486 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e015f405e575b6e319232b847487ca54.setIcon(icon_86e9341fccc40b1e8b2006ac1215b486);
        
    
        var popup_d59e6c86cdeec9d281e988a3cf324dd9 = L.popup({"maxWidth": "100%"});

        
            
                var html_79b33f152fa3fd6a3b0ab99c1632b4c2 = $(`<div id="html_79b33f152fa3fd6a3b0ab99c1632b4c2" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at 20 EVANS BUNGALOW</div>`)[0];
                popup_d59e6c86cdeec9d281e988a3cf324dd9.setContent(html_79b33f152fa3fd6a3b0ab99c1632b4c2);
            
        

        marker_e015f405e575b6e319232b847487ca54.bindPopup(popup_d59e6c86cdeec9d281e988a3cf324dd9)
        ;

        
    
    
            var marker_e4385253e99c961d9435f4e558d9145a = L.marker(
                [1.298084101, 103.7724236],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_ba79b166026b7cb55f2d0db728b86aeb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e4385253e99c961d9435f4e558d9145a.setIcon(icon_ba79b166026b7cb55f2d0db728b86aeb);
        
    
        var popup_7f579d0d8fc594cc57fdbc68ec281b28 = L.popup({"maxWidth": "100%"});

        
            
                var html_021e0954dee2bacc4a3d5952adcda05b = $(`<div id="html_021e0954dee2bacc4a3d5952adcda05b" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at ENGINEERING BLOCK 5</div>`)[0];
                popup_7f579d0d8fc594cc57fdbc68ec281b28.setContent(html_021e0954dee2bacc4a3d5952adcda05b);
            
        

        marker_e4385253e99c961d9435f4e558d9145a.bindPopup(popup_7f579d0d8fc594cc57fdbc68ec281b28)
        ;

        
    
    
            var marker_3c7dd42418efecdbb689d90f13d11f39 = L.marker(
                [1.319098649, 103.8176172],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_597c2a808b43f36336b3c31705acc413 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3c7dd42418efecdbb689d90f13d11f39.setIcon(icon_597c2a808b43f36336b3c31705acc413);
        
    
        var popup_daddee3f27563a71feeef31debfa7aaf = L.popup({"maxWidth": "100%"});

        
            
                var html_4aa3ab67b4adaf51d17a8dd89ffbaf67 = $(`<div id="html_4aa3ab67b4adaf51d17a8dd89ffbaf67" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at BTC-MANASSEH MEYER</div>`)[0];
                popup_daddee3f27563a71feeef31debfa7aaf.setContent(html_4aa3ab67b4adaf51d17a8dd89ffbaf67);
            
        

        marker_3c7dd42418efecdbb689d90f13d11f39.bindPopup(popup_daddee3f27563a71feeef31debfa7aaf)
        ;

        
    
    
            var marker_8fdc35c950962841dfd1df2dca8f5022 = L.marker(
                [1.302406233, 103.7720861],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_c0b438a6d5a9533363d2a21b604b6bd9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8fdc35c950962841dfd1df2dca8f5022.setIcon(icon_c0b438a6d5a9533363d2a21b604b6bd9);
        
    
        var popup_fa69ab9966343cf0ebe5bec9de902ebe = L.popup({"maxWidth": "100%"});

        
            
                var html_afacd630c2d68f776d6830b8f8a82829 = $(`<div id="html_afacd630c2d68f776d6830b8f8a82829" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at YSTCM CARPARK</div>`)[0];
                popup_fa69ab9966343cf0ebe5bec9de902ebe.setContent(html_afacd630c2d68f776d6830b8f8a82829);
            
        

        marker_8fdc35c950962841dfd1df2dca8f5022.bindPopup(popup_fa69ab9966343cf0ebe5bec9de902ebe)
        ;

        
    
    
            var marker_2eeb24af9897c9f3d30d43cbe9574720 = L.marker(
                [1.291523732, 103.7801396],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_eda77218aea1bd7ca7cffcd79dea14a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2eeb24af9897c9f3d30d43cbe9574720.setIcon(icon_eda77218aea1bd7ca7cffcd79dea14a5);
        
    
        var popup_76e61efda3ba04709047f357dd8ab76a = L.popup({"maxWidth": "100%"});

        
            
                var html_f3248c5fde2e82db66a380f9b16b75ac = $(`<div id="html_f3248c5fde2e82db66a380f9b16b75ac" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at PGP RESIDENCES (BLOCK 16)</div>`)[0];
                popup_76e61efda3ba04709047f357dd8ab76a.setContent(html_f3248c5fde2e82db66a380f9b16b75ac);
            
        

        marker_2eeb24af9897c9f3d30d43cbe9574720.bindPopup(popup_76e61efda3ba04709047f357dd8ab76a)
        ;

        
    
    
            var marker_c318a7793ceae219a3d2e7442f8ecb1e = L.marker(
                [1.308169683, 103.7723937],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_15686be2a797decd364ccbf5c038ba1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c318a7793ceae219a3d2e7442f8ecb1e.setIcon(icon_15686be2a797decd364ccbf5c038ba1d);
        
    
        var popup_fce727f2cc969229418faf04374cdc47 = L.popup({"maxWidth": "100%"});

        
            
                var html_be668561bd75b30ec084452097c53cad = $(`<div id="html_be668561bd75b30ec084452097c53cad" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at YALE WEST CORE</div>`)[0];
                popup_fce727f2cc969229418faf04374cdc47.setContent(html_be668561bd75b30ec084452097c53cad);
            
        

        marker_c318a7793ceae219a3d2e7442f8ecb1e.bindPopup(popup_fce727f2cc969229418faf04374cdc47)
        ;

        
    
    
            var marker_c24461386e49f5f62ad92a48fcb67c3e = L.marker(
                [1.290472992, 103.7804283],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_b523f322741fb2dd3bfcb9fb991f692a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c24461386e49f5f62ad92a48fcb67c3e.setIcon(icon_b523f322741fb2dd3bfcb9fb991f692a);
        
    
        var popup_aaa78f6736a8e8101155708a93cc5202 = L.popup({"maxWidth": "100%"});

        
            
                var html_24bf138a3c6200dc6674fe58715537fc = $(`<div id="html_24bf138a3c6200dc6674fe58715537fc" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 21)</div>`)[0];
                popup_aaa78f6736a8e8101155708a93cc5202.setContent(html_24bf138a3c6200dc6674fe58715537fc);
            
        

        marker_c24461386e49f5f62ad92a48fcb67c3e.bindPopup(popup_aaa78f6736a8e8101155708a93cc5202)
        ;

        
    
    
            var marker_e5f7834bcb43413b45cd0e1a3bbb749d = L.marker(
                [1.305971181, 103.7720215],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_514590c11f8f6a74455c1762e89ad407 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e5f7834bcb43413b45cd0e1a3bbb749d.setIcon(icon_514590c11f8f6a74455c1762e89ad407);
        
    
        var popup_cc4124f57b3475424e74e451c1bcd2b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_3345be42cfc2ed192fc1205a95f9d84d = $(`<div id="html_3345be42cfc2ed192fc1205a95f9d84d" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at YALE RESIDENTIAL COLLEGE 1</div>`)[0];
                popup_cc4124f57b3475424e74e451c1bcd2b5.setContent(html_3345be42cfc2ed192fc1205a95f9d84d);
            
        

        marker_e5f7834bcb43413b45cd0e1a3bbb749d.bindPopup(popup_cc4124f57b3475424e74e451c1bcd2b5)
        ;

        
    
    
            var marker_ee6c515c38b2f4dbe0ef392f447bfac5 = L.marker(
                [1.300558705, 103.7707907],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_2c6520dcc0cdeafb61fc9a8365b61c6e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ee6c515c38b2f4dbe0ef392f447bfac5.setIcon(icon_2c6520dcc0cdeafb61fc9a8365b61c6e);
        
    
        var popup_fa9783376e6abfa428c5f84229cb988d = L.popup({"maxWidth": "100%"});

        
            
                var html_0820ebf1e55fd5304f278ca4c0f32415 = $(`<div id="html_0820ebf1e55fd5304f278ca4c0f32415" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at ENGINEERING AUDITORIUM</div>`)[0];
                popup_fa9783376e6abfa428c5f84229cb988d.setContent(html_0820ebf1e55fd5304f278ca4c0f32415);
            
        

        marker_ee6c515c38b2f4dbe0ef392f447bfac5.bindPopup(popup_fa9783376e6abfa428c5f84229cb988d)
        ;

        
    
    
            var marker_a6385a19698c3d5daa9b9c18ed665e4f = L.marker(
                [1.294399964, 103.7835039],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_63759c7deb48fb229dc7028d48be62ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a6385a19698c3d5daa9b9c18ed665e4f.setIcon(icon_63759c7deb48fb229dc7028d48be62ad);
        
    
        var popup_e88874dde97d5f573ef8d3e4ae3f5c90 = L.popup({"maxWidth": "100%"});

        
            
                var html_188592ab0cbf27729a2ea98d392733dd = $(`<div id="html_188592ab0cbf27729a2ea98d392733dd" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at NUHS-MAIN BUILDING</div>`)[0];
                popup_e88874dde97d5f573ef8d3e4ae3f5c90.setContent(html_188592ab0cbf27729a2ea98d392733dd);
            
        

        marker_a6385a19698c3d5daa9b9c18ed665e4f.bindPopup(popup_e88874dde97d5f573ef8d3e4ae3f5c90)
        ;

        
    
    
            var marker_420c09ad8121fb9cf76dc4f67c0be84f = L.marker(
                [1.29056547, 103.7816148],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_cb21cf9b280ed6bf09a29fabbd87947d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_420c09ad8121fb9cf76dc4f67c0be84f.setIcon(icon_cb21cf9b280ed6bf09a29fabbd87947d);
        
    
        var popup_e54f5c60f85b9d2ad99d0de2ea4086d6 = L.popup({"maxWidth": "100%"});

        
            
                var html_acddf2dc0ffd2bbe44020cf4473d3915 = $(`<div id="html_acddf2dc0ffd2bbe44020cf4473d3915" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 27)</div>`)[0];
                popup_e54f5c60f85b9d2ad99d0de2ea4086d6.setContent(html_acddf2dc0ffd2bbe44020cf4473d3915);
            
        

        marker_420c09ad8121fb9cf76dc4f67c0be84f.bindPopup(popup_e54f5c60f85b9d2ad99d0de2ea4086d6)
        ;

        
    
    
            var marker_55739bada2c5588988c6dbdc080ed1ca = L.marker(
                [1.296769604, 103.7802964],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_5a098e618454c0146323e8192f907f77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_55739bada2c5588988c6dbdc080ed1ca.setIcon(icon_5a098e618454c0146323e8192f907f77);
        
    
        var popup_c761427ea9847d2ace776dbf1f8a1e69 = L.popup({"maxWidth": "100%"});

        
            
                var html_029dc07fbd1a90135cfca50e4ffce5e1 = $(`<div id="html_029dc07fbd1a90135cfca50e4ffce5e1" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at DATA-CENTRE-NUS HIGH SCHOOL</div>`)[0];
                popup_c761427ea9847d2ace776dbf1f8a1e69.setContent(html_029dc07fbd1a90135cfca50e4ffce5e1);
            
        

        marker_55739bada2c5588988c6dbdc080ed1ca.bindPopup(popup_c761427ea9847d2ace776dbf1f8a1e69)
        ;

        
    
    
            var marker_3cbd0bdc72a65366717466d83adb1154 = L.marker(
                [1.29068027, 103.7815813],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_eece6c8d33bee558429b2c1983a55db3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3cbd0bdc72a65366717466d83adb1154.setIcon(icon_eece6c8d33bee558429b2c1983a55db3);
        
    
        var popup_370261a3a8686c7e136b5ecad00d673b = L.popup({"maxWidth": "100%"});

        
            
                var html_5c8d4f17856467150c31d427305bc2c7 = $(`<div id="html_5c8d4f17856467150c31d427305bc2c7" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 26)</div>`)[0];
                popup_370261a3a8686c7e136b5ecad00d673b.setContent(html_5c8d4f17856467150c31d427305bc2c7);
            
        

        marker_3cbd0bdc72a65366717466d83adb1154.bindPopup(popup_370261a3a8686c7e136b5ecad00d673b)
        ;

        
    
    
            var marker_3f21e62296c0a458003eeb0392d3515b = L.marker(
                [1.299936148, 103.7722517],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_47a6912412e86b7f4c66d60fb51a219f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3f21e62296c0a458003eeb0392d3515b.setIcon(icon_47a6912412e86b7f4c66d60fb51a219f);
        
    
        var popup_2c76cb10a4bc86d580e2c04a1d042782 = L.popup({"maxWidth": "100%"});

        
            
                var html_60a7b807ff4837c9bff5604289907186 = $(`<div id="html_60a7b807ff4837c9bff5604289907186" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at T-LAB CARPARK</div>`)[0];
                popup_2c76cb10a4bc86d580e2c04a1d042782.setContent(html_60a7b807ff4837c9bff5604289907186);
            
        

        marker_3f21e62296c0a458003eeb0392d3515b.bindPopup(popup_2c76cb10a4bc86d580e2c04a1d042782)
        ;

        
    
    
            var marker_aba54c324774cc0ba8c4a97dbd5a8245 = L.marker(
                [1.294839606, 103.77459],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_fc7a7eeecc4b08afbf721802df9433f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_aba54c324774cc0ba8c4a97dbd5a8245.setIcon(icon_fc7a7eeecc4b08afbf721802df9433f9);
        
    
        var popup_b23595914f52bce94b6cb2a3fed4d03c = L.popup({"maxWidth": "100%"});

        
            
                var html_c42848bdf17b53150ba8dc18c0f87d17 = $(`<div id="html_c42848bdf17b53150ba8dc18c0f87d17" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at COMPUTING BLOCK 3</div>`)[0];
                popup_b23595914f52bce94b6cb2a3fed4d03c.setContent(html_c42848bdf17b53150ba8dc18c0f87d17);
            
        

        marker_aba54c324774cc0ba8c4a97dbd5a8245.bindPopup(popup_b23595914f52bce94b6cb2a3fed4d03c)
        ;

        
    
    
            var marker_80889c25c5f8e7e67811699b6a6d100f = L.marker(
                [1.290851133, 103.781384],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_842c88c68075aea2141168e4d4126eea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_80889c25c5f8e7e67811699b6a6d100f.setIcon(icon_842c88c68075aea2141168e4d4126eea);
        
    
        var popup_72ad443638a53166e9867585ac8dfc6c = L.popup({"maxWidth": "100%"});

        
            
                var html_fc18cc6d119ed6eeebda9548feb36cfb = $(`<div id="html_fc18cc6d119ed6eeebda9548feb36cfb" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP BUS-STOP (OFFICE)</div>`)[0];
                popup_72ad443638a53166e9867585ac8dfc6c.setContent(html_fc18cc6d119ed6eeebda9548feb36cfb);
            
        

        marker_80889c25c5f8e7e67811699b6a6d100f.bindPopup(popup_72ad443638a53166e9867585ac8dfc6c)
        ;

        
    
    
            var marker_2b55775d8b6465ecf8dedd37748fe069 = L.marker(
                [1.291532109, 103.7746841],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_9a88d7bef6cad2fea69456699d26721f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2b55775d8b6465ecf8dedd37748fe069.setIcon(icon_9a88d7bef6cad2fea69456699d26721f);
        
    
        var popup_1098f25e5c3dad1870c37de8df5de5fb = L.popup({"maxWidth": "100%"});

        
            
                var html_e3a8f1efe9d9a800c7c4202024e03900 = $(`<div id="html_e3a8f1efe9d9a800c7c4202024e03900" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KENT RIDGE HALL (BLOCK C)</div>`)[0];
                popup_1098f25e5c3dad1870c37de8df5de5fb.setContent(html_e3a8f1efe9d9a800c7c4202024e03900);
            
        

        marker_2b55775d8b6465ecf8dedd37748fe069.bindPopup(popup_1098f25e5c3dad1870c37de8df5de5fb)
        ;

        
    
    
            var marker_bfd1699c825827e0e5615d1c12e12e33 = L.marker(
                [1.291117652, 103.7758047],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_03064f760f44b7b78acfd0387a75853d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_bfd1699c825827e0e5615d1c12e12e33.setIcon(icon_03064f760f44b7b78acfd0387a75853d);
        
    
        var popup_04b4b26fac55761c1fc552b491acb181 = L.popup({"maxWidth": "100%"});

        
            
                var html_03ac1db91e8241cbbcbdba0b073358e8 = $(`<div id="html_03ac1db91e8241cbbcbdba0b073358e8" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at SHEARES HALL (BLOCK E)</div>`)[0];
                popup_04b4b26fac55761c1fc552b491acb181.setContent(html_03ac1db91e8241cbbcbdba0b073358e8);
            
        

        marker_bfd1699c825827e0e5615d1c12e12e33.bindPopup(popup_04b4b26fac55761c1fc552b491acb181)
        ;

        
    
    
            var marker_0d9b6a7bde30f979b9235e63a72d4145 = L.marker(
                [1.291117652, 103.7758047],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_d05d7d89d5e600eb4f64e3253437d1ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0d9b6a7bde30f979b9235e63a72d4145.setIcon(icon_d05d7d89d5e600eb4f64e3253437d1ff);
        
    
        var popup_530eb812645b8934e3976df393549e46 = L.popup({"maxWidth": "100%"});

        
            
                var html_c8b31c9136b50ad441e1ce880399a798 = $(`<div id="html_c8b31c9136b50ad441e1ce880399a798" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at SHEARES HALL (BLOCK E)</div>`)[0];
                popup_530eb812645b8934e3976df393549e46.setContent(html_c8b31c9136b50ad441e1ce880399a798);
            
        

        marker_0d9b6a7bde30f979b9235e63a72d4145.bindPopup(popup_530eb812645b8934e3976df393549e46)
        ;

        
    
    
            var marker_cda5f0af8b3e00d5c963f555950922b8 = L.marker(
                [1.293083063, 103.7707861],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_1f3db9aa78acaf17442e10530312610d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cda5f0af8b3e00d5c963f555950922b8.setIcon(icon_1f3db9aa78acaf17442e10530312610d);
        
    
        var popup_28fffee8d4eadb3120fc1f4323133110 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb7e0a1a4144e8fea35100604acf6f1d = $(`<div id="html_eb7e0a1a4144e8fea35100604acf6f1d" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at TEMASEK HALL (BLOCK A)</div>`)[0];
                popup_28fffee8d4eadb3120fc1f4323133110.setContent(html_eb7e0a1a4144e8fea35100604acf6f1d);
            
        

        marker_cda5f0af8b3e00d5c963f555950922b8.bindPopup(popup_28fffee8d4eadb3120fc1f4323133110)
        ;

        
    
    
            var marker_c248d6b83d4fcf164024a4dabacfda33 = L.marker(
                [1.291524551, 103.7744384],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_9b0493cfc75bfded72a2770b05678436 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c248d6b83d4fcf164024a4dabacfda33.setIcon(icon_9b0493cfc75bfded72a2770b05678436);
        
    
        var popup_5a5f6069ff523232b665bc36953c864f = L.popup({"maxWidth": "100%"});

        
            
                var html_4ad064d3824be06535da28fd11e133fd = $(`<div id="html_4ad064d3824be06535da28fd11e133fd" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at KENT RIDGE HALL (BLOCK D)</div>`)[0];
                popup_5a5f6069ff523232b665bc36953c864f.setContent(html_4ad064d3824be06535da28fd11e133fd);
            
        

        marker_c248d6b83d4fcf164024a4dabacfda33.bindPopup(popup_5a5f6069ff523232b665bc36953c864f)
        ;

        
    
    
            var marker_328b9c5ce8aa5404f9a1205243786de8 = L.marker(
                [1.291354968, 103.7760394],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_59785770fd6c4f1a54451e7f2d4606b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_328b9c5ce8aa5404f9a1205243786de8.setIcon(icon_59785770fd6c4f1a54451e7f2d4606b1);
        
    
        var popup_15e3931011c9bc8dec6aa87357621340 = L.popup({"maxWidth": "100%"});

        
            
                var html_98a80ed1d438b5d758f047bd58570959 = $(`<div id="html_98a80ed1d438b5d758f047bd58570959" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at SHEARES HALL (BLOCK C)</div>`)[0];
                popup_15e3931011c9bc8dec6aa87357621340.setContent(html_98a80ed1d438b5d758f047bd58570959);
            
        

        marker_328b9c5ce8aa5404f9a1205243786de8.bindPopup(popup_15e3931011c9bc8dec6aa87357621340)
        ;

        
    
    
            var marker_6051d5edc6fa98a4ca2d859f5130271c = L.marker(
                [1.292651799, 103.7797184],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_747d90e1756f757172c1af4ef9e606b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6051d5edc6fa98a4ca2d859f5130271c.setIcon(icon_747d90e1756f757172c1af4ef9e606b6);
        
    
        var popup_d506c9da66c6f448d00696d5bd9c5556 = L.popup({"maxWidth": "100%"});

        
            
                var html_2a674500e7aa70ce1d70c2a25a04a1ce = $(`<div id="html_2a674500e7aa70ce1d70c2a25a04a1ce" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at 3 PGP BUNGALOW</div>`)[0];
                popup_d506c9da66c6f448d00696d5bd9c5556.setContent(html_2a674500e7aa70ce1d70c2a25a04a1ce);
            
        

        marker_6051d5edc6fa98a4ca2d859f5130271c.bindPopup(popup_d506c9da66c6f448d00696d5bd9c5556)
        ;

        
    
    
            var marker_04f33e87e01ecc805743edd12f6abdc9 = L.marker(
                [1.290619681, 103.7816946],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_559b1a7616bed3a202dc3ca3a4ab7e6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_04f33e87e01ecc805743edd12f6abdc9.setIcon(icon_559b1a7616bed3a202dc3ca3a4ab7e6b);
        
    
        var popup_afe09c0f5127e05b6d31b401d9c18372 = L.popup({"maxWidth": "100%"});

        
            
                var html_add34058d272176957201ddcbc4875bf = $(`<div id="html_add34058d272176957201ddcbc4875bf" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES CANTEEN 2</div>`)[0];
                popup_afe09c0f5127e05b6d31b401d9c18372.setContent(html_add34058d272176957201ddcbc4875bf);
            
        

        marker_04f33e87e01ecc805743edd12f6abdc9.bindPopup(popup_afe09c0f5127e05b6d31b401d9c18372)
        ;

        
    
    
            var marker_023fd81d72004b01c1d03ba2123fc054 = L.marker(
                [1.290916678, 103.780617],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_8af098380a91dff48f44de25c3d3b976 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_023fd81d72004b01c1d03ba2123fc054.setIcon(icon_8af098380a91dff48f44de25c3d3b976);
        
    
        var popup_0f0d26ccc1cb9331de1b38f03595f22c = L.popup({"maxWidth": "100%"});

        
            
                var html_b3723cf513db5ae841263fff05ce53dc = $(`<div id="html_b3723cf513db5ae841263fff05ce53dc" style="width: 100.0%; height: 100.0%;">EMERGENCY INCIDENTS at PGP RESIDENCES MPH</div>`)[0];
                popup_0f0d26ccc1cb9331de1b38f03595f22c.setContent(html_b3723cf513db5ae841263fff05ce53dc);
            
        

        marker_023fd81d72004b01c1d03ba2123fc054.bindPopup(popup_0f0d26ccc1cb9331de1b38f03595f22c)
        ;

        
    
    
            var marker_3a3a9eb0344c6954cec021a4f027b71c = L.marker(
                [1.291222487, 103.7799887],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_8e3d91fca050e4aa9036cb1356e44fac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3a3a9eb0344c6954cec021a4f027b71c.setIcon(icon_8e3d91fca050e4aa9036cb1356e44fac);
        
    
        var popup_624dd9630bc86a0e94a19f0ff34555f5 = L.popup({"maxWidth": "100%"});

        
            
                var html_fdf69d9fe9757162fa1dc016e22b5e08 = $(`<div id="html_fdf69d9fe9757162fa1dc016e22b5e08" style="width: 100.0%; height: 100.0%;">SEXUAL INCIDENTS at PGP RESIDENCES (BLOCK 6)</div>`)[0];
                popup_624dd9630bc86a0e94a19f0ff34555f5.setContent(html_fdf69d9fe9757162fa1dc016e22b5e08);
            
        

        marker_3a3a9eb0344c6954cec021a4f027b71c.bindPopup(popup_624dd9630bc86a0e94a19f0ff34555f5)
        ;

        
    
    
            var marker_25b397d9ce7d29e21f8659fc6b6c78af = L.marker(
                [1.296461007, 103.7817485],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_766b8d0dceeb82588813795da3c82528 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_25b397d9ce7d29e21f8659fc6b6c78af.setIcon(icon_766b8d0dceeb82588813795da3c82528);
        
    
        var popup_13b465a3f63357febd4d8393a7fd1aa4 = L.popup({"maxWidth": "100%"});

        
            
                var html_2161aa78eb965e85b17619e5bcecd5b4 = $(`<div id="html_2161aa78eb965e85b17619e5bcecd5b4" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at MEDICINE BLOCK 10</div>`)[0];
                popup_13b465a3f63357febd4d8393a7fd1aa4.setContent(html_2161aa78eb965e85b17619e5bcecd5b4);
            
        

        marker_25b397d9ce7d29e21f8659fc6b6c78af.bindPopup(popup_13b465a3f63357febd4d8393a7fd1aa4)
        ;

        
    
    
            var marker_2e0d71ea0de161c53d606cdb412a6f91 = L.marker(
                [1.293482761, 103.7803849],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_72e1a81975d38e3d99d92c0d0a98ae32 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2e0d71ea0de161c53d606cdb412a6f91.setIcon(icon_72e1a81975d38e3d99d92c0d0a98ae32);
        
    
        var popup_f93b0b634edb1b0ade7037dd9ba520f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_c2a9c18989cab447584d97be25190863 = $(`<div id="html_c2a9c18989cab447584d97be25190863" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at KE VII HALL (BLOCK G)</div>`)[0];
                popup_f93b0b634edb1b0ade7037dd9ba520f0.setContent(html_c2a9c18989cab447584d97be25190863);
            
        

        marker_2e0d71ea0de161c53d606cdb412a6f91.bindPopup(popup_f93b0b634edb1b0ade7037dd9ba520f0)
        ;

        
    
    
            var marker_011e2c9850d80960c530e800bbed4b3d = L.marker(
                [1.293420222, 103.7828813],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_bdfec71f6413cd7b09cb1e867acf9ce8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_011e2c9850d80960c530e800bbed4b3d.setIcon(icon_bdfec71f6413cd7b09cb1e867acf9ce8);
        
    
        var popup_4d67c755557d768a3ccb50ce3e6ef792 = L.popup({"maxWidth": "100%"});

        
            
                var html_dbc20d52d0ad35e02963a4179ab15239 = $(`<div id="html_dbc20d52d0ad35e02963a4179ab15239" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at DUKE-NUS MEDSH-KHOOTECKPUAT BG</div>`)[0];
                popup_4d67c755557d768a3ccb50ce3e6ef792.setContent(html_dbc20d52d0ad35e02963a4179ab15239);
            
        

        marker_011e2c9850d80960c530e800bbed4b3d.bindPopup(popup_4d67c755557d768a3ccb50ce3e6ef792)
        ;

        
    
    
            var marker_96317913385c0981b81345200efa65c6 = L.marker(
                [1.291327615, 103.7802401],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_79e8944705908b91d2e0c04942c0d5d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_96317913385c0981b81345200efa65c6.setIcon(icon_79e8944705908b91d2e0c04942c0d5d6);
        
    
        var popup_5d141f8434c49627cf6653e2bb039b8c = L.popup({"maxWidth": "100%"});

        
            
                var html_149f63116a437810efe5b031abc462f2 = $(`<div id="html_149f63116a437810efe5b031abc462f2" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 17)</div>`)[0];
                popup_5d141f8434c49627cf6653e2bb039b8c.setContent(html_149f63116a437810efe5b031abc462f2);
            
        

        marker_96317913385c0981b81345200efa65c6.bindPopup(popup_5d141f8434c49627cf6653e2bb039b8c)
        ;

        
    
    
            var marker_2c2e1650b96af6c3c204e66681e0271c = L.marker(
                [1.30249388, 103.7703148],
                {}
            ).addTo(map_7628be0bbe599cd311b6d823ddd80b3d);
        
    
            var icon_dd59ca39972ff1ac5ce26d6f9de17fc7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2c2e1650b96af6c3c204e66681e0271c.setIcon(icon_dd59ca39972ff1ac5ce26d6f9de17fc7);
        
    
        var popup_2f50c92d85afdfb9680c42fa650548a8 = L.popup({"maxWidth": "100%"});

        
            
                var html_25b2dac712d2a4282cd453154a6e136d = $(`<div id="html_25b2dac712d2a4282cd453154a6e136d" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at KENT VALE APARTMENT BLK G, 115</div>`)[0];
                popup_2f50c92d85afdfb9680c42fa650548a8.setContent(html_25b2dac712d2a4282cd453154a6e136d);
            
        

        marker_2c2e1650b96af6c3c204e66681e0271c.bindPopup(popup_2f50c92d85afdfb9680c42fa650548a8)
        ;

        
    
</script>
</html>