<!DOCTYPE html>
<html>

<head>
    <title>Security Team Dashboard</title>
    <style>
        iframe {
            width: 100%;
            height: 100vh;
            border: none;
        }

        .pull-tab {
            position: fixed;
            right: 1px; /* Adjust position */
            background-color: #f44336;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px 0 0 5px;
            z-index: 9999; /* Ensure it's on top */
        }

        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
	        z-index: 1000;
        }

        .modal-content {
            position: relative;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            margin: 20px;
            margin-top: 380px;
        }

        .hidden-column {
            display:none;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 1px; /* Adjust position to avoid header */
            right: 0;
            width: 50%;
            height: 100vh;
            background: rgba(255, 255, 255, 0.9);
            z-index: 9998; /* Below the pull-tab */
        }

        .overlay-content {
            margin: 20px;
            border: 1px solid black; /* Apply the border to the overlay content */
        }

        /* Additional table styling */
        .table-container {
	    max-height: 400px;	
            overflow-y: auto;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid;
        }

        th {
            background-color: #f2f2f2;
            position: sticky;
            top: 0;
        }

        h2 {
        margin-top: 40px;
        }

        #add-new-report-form-message {
            margin-top: 10px;
            font-weight: bold;
            display: none; /* Initially hide the message */
        }

    </style>
</head>

<body>
    <iframe id="map" src="{{ url_for('static', filename='/color_coded_incidents_map.html') }}"></iframe>

    <button class="pull-tab" onclick="openTab()">Table Tab</button>

    <!-- Fetched content shown as an overlay -->
    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <h2>Filter By:</h2>

            <input type="text" id="idFilter" placeholder="Filter by Incident ID">
            <input type="date" id="dateFilter">
            <input type="text" id="timeFilter" placeholder="Filter by Time">
            <select id="typeFilter">
                <option value="all">Incident Type</option>
                <option value="lost and found">Lost and Found</option>
                <option value="damaged property">Damaged Property</option>
                <option value="stolen items">Stolen Items</option>
                <option value="emergency incident">Emergency Incidents</option>
                <option value="sexual incidents">Sexual Incidents</option>
            </select>
            <select id="priorityFilter">
                <option value="all">Priority</option>
                <option value="normal">Normal</option>
                <option value="high">High</option>
            </select>
            <select id="locationFilter">
                <option value="all">Location</option>
                <option value="biz">BIZ</option>
                <option value="btc">BTC</option>
                <option value="cde">CDE</option>
                <option value="com">COM</option>
                <option value="dnms">DNMS</option>
                <option value="fass">FASS</option>
                <option value="fos">FOS</option>
                <option value="hall">Hall</option>
                <option value="hmkt">HMKT</option>
                <option value="kr">KR</option>
                <option value="kv">KV</option>
                <option value="oth">OTH</option>
                <option value="pgp">PGP</option>
                <option value="soc">SOC</option>
                <option value="ucc">UCC</option>
                <option value="utown">UTown</option>
                <option value="yih">YIH</option>
            </select>
            <select id="statusFilter">
                <option value="all">Status</option>
                <option value="open">Open</option>
                <option value="close">Close</option>
            </select>
            <select id="userFilter">
                <option value="all">User Added</option>
                <option value="sec1">sec1</option>
                <option value="sec2">sec2</option>
                <option value="sec3">sec3</option>
                <option value="sec4">sec4</option>
                <option value="sec5">sec5</option>
            </select>

            <body>
            <h2>Incidents Table</h2>

            <button id="addReportButton">New Report</button><br><br>
            <div id="modal" class="modal" height="500px">
                <div id="modalContent" class="modal-content">
                    <h2>Add New Report</h2>
                    <form id="addReportForm" method="POST" action="{{ url_for('security')}}">
			            <label for="datetime">Date and Time:</label>
                        <input type="datetime-local" id="datetime" name="datetime" required><br><br>
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" required><br><br>
                        <label for="type">Incident Type:</label>
                        <select id="type" name="type" required>
                            <option>Lost and Found</option>
                            <option>Damaged Property</option>
                            <option>Stolen Items</option>
                            <option>Emergency Incidents</option>
                            <option>Sexual Incidents</option>

                        </select><br><br>
                        <label for="priority">Priority:</label>
                        <select id="priority" name="priority" required>
                            <option>Normal</option>
                            <option>High</option>
                        </select><br><br>
                        <label for="location">Location:</label>
                        <select id="location" name="location" required>
                            <option>BIZ</option>
                            <option>BTC</option>
                            <option>CDE</option>
                            <option>COM</option>
                            <option>DNMS</option>
                            <option>FASS</option>
                            <option>FOS</option>
                            <option>Hall</option>
                            <option>HMKT</option>
                            <option>KR</option>
                            <option>KV</option>
                            <option>OTH</option>
                            <option>PGP</option>
                            <option>SOC</option>
                            <option>UCC</option>
                            <option>UTown</option>
                            <option>YIH</option>
                        </select><br><br>
                        <label for="building">Building:</label>
                        <input type="text" id="building" name="building" required><br><br>
                        <label for="status">Status:</label>
                        <select id="status" name="status" required>
                            <option>Open</option>
                            <option>Close</option>
                        </select><br><br>
                        <button type="submit">Add</button>
                        <div id="add-new-report-form-message" class="message"></div>
                    </form>
                </div>
            </div>

	    <div class="table-container">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Incident ID</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Incident Type</th>
                        <th>Priority</th>
                        <th>Location</th>
                        <th>Building</th>
                        <th>Status</th>
                        <th>User Added</th>
                        <th class="hidden-column">Latitude</th>
                        <th class="hidden-column">Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row['Incident ID'] }}</td>
                        <td>{{ row['Date'] }}</td>
                        <td>{{ row['Time'] }}</td>
                        <td>{{ row['Incident Type'] }}</td>
                        <td>{{ row['Priority'] }}</td>
                        <td>{{ row['Location'] }}</td>
                        <td>{{ row['Building'] }}</td>
                        <td>
                            <select class="status-input" id="statusTable">
                                <option value="open" {% if row['Status'] == 'Open' %}selected{% 
            endif %}>Open</option>
                                <option value="close" {% if row['Status'] == 'Close' %}selected{% 
            endif %}>Close</option>
                            </select>
                        </td>
                        <td>{{ row['User Added'] }}</td>
                        <td class="hidden-column">{{ row['Latitude'] }}</td>
                        <td class="hidden-column">{{ row['Longitude'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
	    </div>
        </div>
    </div>

    <script>
        function openTab() {
            // Toggle display of the fetched content overlay
            const overlay = document.getElementById('overlay');
            overlay.style.display = (overlay.style.display === 'block') ? 'none' : 'block';
        }


        const addReportButton = document.getElementById("addReportButton");
        const modal = document.getElementById("modal");
        const modalContent = document.getElementById("modalContent");
        // const addReportForm = document.getElementById("addReportForm");
        // const tableBody = document.getElementById("dataTable").getElementsByTagName('tbody')[0];
        addReportButton.addEventListener("click", () => {
                 modal.style.display = "block";
                   });

        const idFilter = document.getElementById("idFilter");
        const dateFilter = document.getElementById("dateFilter");
        const timeFilter = document.getElementById("timeFilter");
        const typeFilter = document.getElementById("typeFilter");
        const priorityFilter = document.getElementById("priorityFilter");
        const locationFilter = document.getElementById("locationFilter");
        const statusFilter = document.getElementById("statusFilter");
        const userFilter = document.getElementById("userFilter");

        const table = document.getElementById("dataTable");
        const rows = table.getElementsByTagName("tr");

        const addReportForm = document.getElementById("addReportForm");
        const messageElement = document.getElementById("add-new-report-form-message");
        addReportForm.addEventListener("submit", function(event) {
            event.preventDefault();

            // Capture form data
            const formData = new FormData(addReportForm);

            // Send data to Flask route using fetch API
            fetch('/security', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                console.log('Response status code:', response.status);
                if (response.ok) {
                messageElement.textContent = 'Response status code: ' + response.status;
                addReportForm.reset(); // Clear the form on success (2xx status code)
                } else {
                throw new Error('Failed to add item');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                messageElement.textContent = 'Error sending data: ' + error.message;
            })
            .finally(() => {
                // Show the message element
                messageElement.style.display = 'block';
            });
        });
                
            newRow.innerHTML = `
                <td>${id}</td>
                <td>${date}</td>
                <td>${time}</td>
                <td>${type}</td>
                <td>${priority}</td>
                <td>${location}</td>
                <td>${building}</td>
                <td>${status}</td>
                <td>${user}</td>
                <td>${latitude}</td>
                <td>${longitude}</td>
            `;

            // Insert the new row at the beginning of the table
            let tableBody = document.getElementById("yourTableBodyID"); // Replace "yourTableBodyID" with your actual table body ID
            tableBody.insertBefore(newRow, tableBody.firstChild);

            // Clear form values
            document.getElementById("id").value = "";
            document.getElementById("date").value = "";
	        document.getElementById("time").value = "";
            document.getElementById("type").value = "";
            document.getElementById("priority").value = "";
            document.getElementById("location").value = "";
            document.getElementById("building").value = "";
            document.getElementById("status").value = "";
            document.getElementById("user").value = "";
            document.getElementById("latitude").value = "";
            document.getElementById("longitude").value = "";

            // Close the modal
            modal.style.display = "none";
    
        idFilter.addEventListener("input", filterTable);
        dateFilter.addEventListener("input", filterTable);
        timeFilter.addEventListener("input", filterTable);
        typeFilter.addEventListener("input", filterTable);
        priorityFilter.addEventListener("input", filterTable);
        locationFilter.addEventListener("input", filterTable);
        statusFilter.addEventListener("input", filterTable);
        userFilter.addEventListener("input", filterTable);

        function filterTable() {
            const idFilterValue = idFilter.value;
            const dateFilterValue = dateFilter.value;
            const timeFilterValue = timeFilter.value;
            const typeFilterValue = typeFilter.value.toLowerCase();
            const priorityFilterValue = priorityFilter.value.toLowerCase();
            const locationFilterValue = locationFilter.value.toLowerCase();
            const statusFilterValue = statusFilter.value.toLowerCase();
            const userFilterValue = userFilter.value.toLowerCase();

            for (let i = 1; i < rows.length; i++) {
                const idColumn = rows[i].getElementsByTagName("td")[0];
                const dateColumn = rows[i].getElementsByTagName("td")[1];
                const timeColumn = rows[i].getElementsByTagName("td")[2];
                const typeColumn = rows[i].getElementsByTagName("td")[3];
                const priorityColumn = rows[i].getElementsByTagName("td")[4];
                const locationColumn = rows[i].getElementsByTagName("td")[5];
                const statusColumn = rows[i].getElementsByTagName("td")[7];
                const userColumn = rows[i].getElementsByTagName("td")[8];

                if (idColumn && dateColumn && timeColumn && typeColumn && priorityColumn &&
                    locationColumn && statusColumn && userColumn) {
                    const idText = idColumn.textContent;
                    const dateText = dateColumn.textContent;
                    const timeText = timeColumn.textContent;
                    const typeText = typeColumn.textContent.toLowerCase();
                    const priorityText = priorityColumn.textContent.toLowerCase();
                    const locationText = locationColumn.textContent.toLowerCase();
                    const statusText = statusColumn.textContent.toLowerCase();
                    const userText = userColumn.textContent.toLowerCase();

                    const idMatch = idFilterValue === '' || idText.includes(idFilterValue);
                    const dateMatch = dateFilterValue === '' || dateText === dateFilterValue;
                    const timeMatch = timeFilterValue === '' || timeText.includes(timeFilterValue);
                    const typeMatch = typeFilterValue === 'all' || typeText.includes(typeFilterValue);
                    const priorityMatch = priorityFilterValue === 'all' || priorityText.includes(priorityFilterValue);
                    const locationMatch = locationFilterValue === 'all' || locationText.includes(locationFilterValue);
                    const statusMatch = statusFilterValue === 'all' || statusText.includes(statusFilterValue);
                    const userMatch = userFilterValue === 'all' || userText.includes(userFilterValue);

                    if (idMatch && dateMatch && timeMatch && typeMatch && priorityMatch &&
                        locationMatch && statusMatch && userMatch) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }

        const statusInputs = document.querySelectorAll(".status-input");

        statusInputs.forEach((input) => {
            input.addEventListener("change", function () {
                const row = this.closest("tr");
                const status = this.value;
                const uniqueid = row.cells[0].textContent;
                const record = data.find((record) => record['Incident ID'] === uniqueid);
                if (record) {
                    record['Status'] = status;
                }
            });
        });
    </script> 
</body>
</html>
