<!DOCTYPE html>
<html>

<head>
    <title>Security Team Dashboard</title>
    <style>
        .header-container {
            border: 2px solid #000;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 99%;
            position: fixed; /* Fix the header */
            background: white; /* Set a background color */
            z-index: 9999; /* Ensure it's on top */
        }

        .logo {
            max-width: 100px;
            height: 100px;
        }

        .header {
            text-align: center;
            font-size: 24px;
        }

        .security-team {
            text-align: right;
        }

        iframe {
            width: 100%;
            border: none;
            margin-top: 100px; /* Place iframe content below the header */
        }

        .pull-tab {
            position: fixed;
            right: 1px; /* Adjust position */
            top: 150px; /* Adjust position */
            background-color: #f44336;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 5px 0 0 5px;
            z-index: 9999; /* Ensure it's on top */
        }

        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            z-index: 1000; /* Adjust the z-index as needed */
            /* Add other necessary styles */
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 100px; /* Adjust position to avoid header */
            right: 0;
            width: 50%;
            height: calc(100vh - 50px);
            background: rgba(255, 255, 255, 0.9);
            z-index: 9998; /* Below the pull-tab */
        }

        .overlay-content {
            margin: 20px;
            border: 1px solid black; /* Apply the border to the overlay content */
        }

        /* Additional table styling */
        table,
        th,
        td {
            border: 1px solid black;
        }

        h2 {
        margin-top: 40px;
        }

    </style>
</head>

<body>
    <div class="header-container">
        <div class="logo">
            <img src="https://www.nus.edu.sg/images/default-source/identity-images/NUS_logo_full-horizontal.jpg" alt="NUS Logo" style="height: 100px;">
        </div>
        <div class="header">
            <h1>NUSecure</h1>
        </div>
        <div class="security-team">
            <h1>Security Team</h1>
        </div>
    </div>

    <iframe srcdoc="{{ map_html | safe }}" width="100%" height="500" frameborder="0"></iframe>

    <button class="pull-tab" onclick="openTab()">Open Tab</button>

    <!-- Fetched content shown as an overlay -->
    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <h2>Filter By:</h2>

            <input type="text" id="idFilter" placeholder="Filter by Incident ID">
            <input type="date" id="dateFilter">
            <select id="typeFilter">
                <option value="all">Incident Type</option>
                <option value="lost and found">Lost and Found</option>
                <option value="damaged property">Damaged Property</option>
                <option value="stolen items">Stolen Items</option>
                <option value="sexual incidents">Sexual Incidents</option>
            </select>
            <select id="priorityFilter">
                <option value="all">Priority</option>
                <option value="normal">Normal</option>
                <option value="high">High</option>
            </select>
            <select id="locationFilter">
                <option value="all">Location</option>
                <option value="biz">BIZ</option>
                <option value="btc">BTC</option>
                <option value="cde">CDE</option>
                <option value="com">COM</option>
                <option value="dnms">DNMS</option>
                <option value="fass">FASS</option>
                <option value="fos">FOS</option>
                <option value="hall">Hall</option>
                <option value="hmkt">HMKT</option>
                <option value="kr">KR</option>
                <option value="kv">KV</option>
                <option value="oth">OTH</option>
                <option value="pgp">PGP</option>
                <option value="soc">SOC</option>
                <option value="ucc">UCC</option>
                <option value="utown">UTown</option>
                <option value="yih">YIH</option>
            </select>
            <select id="statusFilter">
                <option value="all">Status</option>
                <option value="open">Open</option>
                <option value="close">Close</option>
            </select>

            <button id="addReportButton">New Report</button><br><br>
            <div id="modal" class="modal">
                <div id="modalContent" class="modal-content">
                    <h2>Add New Report</h2>
                    <form id="addReportForm" method="POST">
                        <label for="id">Incident ID:</label>
                        <input type="text" id="id" required><br><br>
                        <label for="datetime">Date and Time of Update:</label>
                        <input type="text" id="datetime" required><br><br>
                        <label for="type">Incident Type:</label>
                        <select id="type" required>
                            <option>Lost and Found</option>
                            <option>Damaged Property</option>
                            <option>Stolen Items</option>
                            <option>Sexual Incidents</option>
                        </select><br><br>
                        <select id="priority" required>
                            <option>Normal</option>
                            <option>High</option>
                        </select><br><br>
                        <label for="location">Location:</label>
                        <select id="location" required>
                            <option>BIZ</option>
                            <option>BTC</option>
                            <option>CDE</option>
                            <option>COM</option>
                            <option>DNMS</option>
                            <option>FASS</option>
                            <option>FOS</option>
                            <option>Hall</option>
                            <option>HMKT</option>
                            <option>KR</option>
                            <option>KV</option>
                            <option>OTH</option>
                            <option>PGP</option>
                            <option>SOC</option>
                            <option>UCC</option>
                            <option>UTown</option>
                            <option>YIH</option>
                        </select><br><br>
                        <label for="building">Building:</label>
                        <input type="text" id="building" required><br><br>
                        <label for="status">Status:</label>
                        <select id="status" required>
                            <option>Open</option>
                            <option>Close</option>
                        </select><br><br>
                        <label for="latitude">Latitude:</label>
                        <input type="text" id="latitude" required><br><br>
                        <label for="longitude">Longitude:</label>
                        <input type="text" id="longitude" required><br><br>
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Incident ID</th>
                        <th>Date</th>
                        <th>Incident Type</th>
                        <th>Priority</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row['IncidentID'] }}</td>
                           <td>{{ row['FirstUpdate'][:9] }}</td>
                        <td>{{ row['Incidents'] }}</td>
                        <td>{{ row['Priority'] }}</td>
                        <td>{{ row['Location'] }}</td>
                        <td>
                            <select class="status-input">
                                <option value="open" {% if row['Status'] == 'Open' %}selected{% endif %}>Open</option>
                                <option value="close" {% if row['Status'] == 'Close' %}selected{% endif %}>Close</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const addReportButton = document.getElementById("addReportButton");
        const modal = document.getElementById("modal");
        const modalContent = document.getElementById("modalContent");
        const addReportForm = document.getElementById("addReportForm");
        const tableBody = document.getElementById("dataTable").getElementsByTagName('tbody')[0];        
        const idFilter = document.getElementById("idFilter");
        const dateFilter = document.getElementById("dateFilter");
        const timeFilter = document.getElementById("timeFilter");
        const typeFilter = document.getElementById("typeFilter");
        const priorityFilter = document.getElementById("priorityFilter");
        const locationFilter = document.getElementById("locationFilter");
        const statusFilter = document.getElementById("statusFilter");
        const table = document.getElementById("dataTable");
        const rows = table.getElementsByTagName("tr");
        
        function openTab() {
                // Toggle display of the fetched content overlay
                const overlay = document.getElementById('overlay');
                overlay.style.display = (overlay.style.display === 'block') ? 'none' : 'block';
            }
                        
        addReportButton.addEventListener("click", () => {
            modal.style.display = "block";
        });
                
        addReportForm.addEventListener("submit", function (event) {
            event.preventDefault();
            const id = document.getElementById("id").value;
            const datetime = document.getElementById("datetime").value;
            const type = document.getElementById("type").value;
            const priority = document.getElementById("priority").value;
            const location = document.getElementById("location").value;
            const building = document.getElementById("building").value;
            const status = document.getElementById("status").value;
            const latitude = document.getElementById("latitude").value;
            const longitude = document.getElementById("longitude").value;
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
                <td>${id}</td>
                <td>${datetime.substring(0, 9)}</td>
                <td>${datetime.substring(10)}</td>
                <td>${type}</td>
                <td>${priority}</td>
                <td>${location}</td>
                <td>${building}</td>
                <td>${status}</td>
                <td>${latitude}</td>
                <td>${longitude}</td>
            `;
            tableBody.insertBefore(newRow, tableBody.firstChild);          
                
            // Clear form values
            document.getElementById("id").value = "";
            document.getElementById("datetime").value = "";
            document.getElementById("type").value = "";
            document.getElementById("priority").value = "";
            document.getElementById("location").value = "";
            document.getElementById("building").value = "";
            document.getElementById("status").value = "";
            document.getElementById("latitude").value = "";
            document.getElementById("longitude").value = "";
    
            // Close the modal
            modal.style.display = "none";
        });
        
        idFilter.addEventListener("input", filterTable);
        dateFilter.addEventListener("input", filterTable);
        timeFilter.addEventListener("input", filterTable);
        typeFilter.addEventListener("input", filterTable);
        priorityFilter.addEventListener("input", filterTable);
        locationFilter.addEventListener("input", filterTable);
        statusFilter.addEventListener("input", filterTable);
        
        function filterTable() {
            const idFilterValue = idFilter.value.toLowerCase();
            const dateFilterValue = dateFilter.value;
            const typeFilterValue = typeFilter.value.toLowerCase();
            const priorityFilterValue = priorityFilter.value.toLowerCase();
            const locationFilterValue = locationFilter.value.toLowerCase();
            const statusFilterValue = statusFilter.value.toLowerCase();

            for (let i = 1; i < rows.length; i++) {
                const idColumn = rows[i].getElementsByTagName("td")[0];
                const dateColumn = rows[i].getElementsByTagName("td")[1];
                const typeColumn = rows[i].getElementsByTagName("td")[2];
                const priorityColumn = rows[i].getElementsByTagName("td")[3];
                const locationColumn = rows[i].getElementsByTagName("td")[4];
                const statusColumn = rows[i].getElementsByTagName("td")[5];


                if (
                    idColumn &&
                    dateColumn &&
                    typeColumn &&
                    priorityColumn &&
                    locationColumn &&
                    statusColumn
                ) {
                    const idText = idColumn.textContent.toLowerCase();
                    const dateText = dateColumn.textContent;
                    const typeText = typeColumn.textContent.toLowerCase();
                    const priorityText = priorityColumn.textContent.toLowerCase();
                    const locationText = locationColumn.textContent.toLowerCase();
                    const statusText = statusColumn.textContent.toLowerCase();

                    const idMatch = idFilterValue === '' || idText.includes(codeFilterValue);
                    const dateMatch = dateFilterValue === '' || dateText === dateFilterValue;
                    const typeMatch = typeFilterValue === 'all' || typeText.includes(typeFilterValue);
                    const priorityMatch = priorityFilterValue === 'all' || priorityText.includes(priorityFilterValue);
                    const locationMatch = locationFilterValue === 'all' || locationText.includes(locationFilterValue);
                    const statusMatch = statusFilterValue === 'all' || statusText.includes(statusFilterValue);

                    if (idMatch && dateMatch && typeMatch && priorityMatch && locationMatch && statusMatch) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }

        const statusInputs = document.querySelectorAll(".status-input");

        statusInputs.forEach((input) => {
            input.addEventListener("change", function () {
                const row = this.closest("tr");
                const status = this.value;
                const uniqueid = row.cells[0].textContent;
                const record = data.find((record) => record['Incident ID'] === uniqueid);
                if (record) {
                    record['Status'] = status;
                }
            });
        });
    </script>
</body>
</html>
