/* Import Google Font Roboto with various weights */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

/* Global Reset */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    transition: all .5s ease;
    border-right: 1px solid black;
}

/* Sidebar Header Styles */
.sidebar header {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 70px;
    text-align: center;
    background: #ffffff;
    user-select: none;
}

/* Sidebar Header Anchor Styles */
.sidebar header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

/* Sidebar Header Image Styles */
.sidebar header img {
    height: 60px;
    margin-right: 15px;
}

/* Sidebar List Item Styles */
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}

/* Sidebar List Item Hover Effect */
ul li:hover a {
    padding-left: 50px;
}

/* Sidebar List Item Icon Styles */
.sidebar ul a i {
    margin-right: 16px;
}

/* Sidebar Checkbox for Responsive Design */
#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    color: #2596be;
    border-radius: 3px;
    cursor: pointer;
}

/* Sidebar Toggle Button Styles */
label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    transition: all .5s;
}

/* Sidebar Cancel Button Styles */
label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #000000;
    padding: 4px 9px;
    transition: all .5s ease;
}

/* Sidebar Animation Based on Checkbox State */
#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}

#check:checked ~ section {
    margin-left: 250px;
}

/* Section Styles */
section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #f0f0f0;
}

/* Additional styles for specific elements */
iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

/* Pull-tab for modal */
.pull-tab {
    position: fixed;
    right: 1px;
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    z-index: 9999;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: left;
    max-width: 20%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 1px;
    right: 0;
    width: 50%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9998;
}

.overlay-content {
    margin: 20px;
    border: 1px solid black;
}

.hidden-column {
    display: none;
}

/* Additional table styling */
.table-container {
    max-height: calc(100vh - 200px);;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

/* Customized ID or class selectors */
#add-new-report-form-message {
    margin-top: 10px;
    font-weight: bold;
    display: none;
}

.navigation-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    left: 40px;
    top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0;
    transition: padding-left 0.4s;
    text-align: left;
    width: 100%;
    position: relative;
}

/* Hover effect for the navigation buttons */
.navigation-button:hover {
    padding-left: 10px;
}

/* Style for the Dashboard buttons */
.dashboard-buttons {
    display: flex;
    margin-top: 20px;
}

.dashboard-button {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #3498db;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.dashboard-button i {
    font-size: 200px;
}

.dashboard-button span {
    font-size: 24px;
}

.dashboard-button:hover {
    background-color: #2980b9; 
    cursor: pointer;
}
