<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83dbc988c2ffe9876bd2ac3c231e6a90 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_83dbc988c2ffe9876bd2ac3c231e6a90" ></div>
        
</body>
<script>
    
    
            var map_83dbc988c2ffe9876bd2ac3c231e6a90 = L.map(
                "map_83dbc988c2ffe9876bd2ac3c231e6a90",
                {
                    center: [1.2959, 103.7745],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0f60e75308e56f08b5e94b88a661c363 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var marker_50ef4b3d8370bba5ca83b30f659bab9e = L.marker(
                [1.294572999, 103.7796455],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_2e80fe1046920444c2a2bcf4372bc33f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_50ef4b3d8370bba5ca83b30f659bab9e.setIcon(icon_2e80fe1046920444c2a2bcf4372bc33f);
        
    
        var popup_24b704c33bc052efbff852cc2f70dfe4 = L.popup({"maxWidth": "100%"});

        
            
                var html_c649109f5614c521f2c132a3fb670d38 = $(`<div id="html_c649109f5614c521f2c132a3fb670d38" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at 5 KR BUNGALOW</div>`)[0];
                popup_24b704c33bc052efbff852cc2f70dfe4.setContent(html_c649109f5614c521f2c132a3fb670d38);
            
        

        marker_50ef4b3d8370bba5ca83b30f659bab9e.bindPopup(popup_24b704c33bc052efbff852cc2f70dfe4)
        ;

        
    
    
            var marker_ad2803ae95edd849ca9dcf8410f32168 = L.marker(
                [1.300002869, 103.7739354],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_bd59271ef077c9bc17b949fea4dd6396 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ad2803ae95edd849ca9dcf8410f32168.setIcon(icon_bd59271ef077c9bc17b949fea4dd6396);
        
    
        var popup_f832a74dcfa426acd784a44f0d72b067 = L.popup({"maxWidth": "100%"});

        
            
                var html_de4435c7d54af6070c84f5a4ca37f339 = $(`<div id="html_de4435c7d54af6070c84f5a4ca37f339" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at RAFFLES HALL (COMMUNAL HALL)</div>`)[0];
                popup_f832a74dcfa426acd784a44f0d72b067.setContent(html_de4435c7d54af6070c84f5a4ca37f339);
            
        

        marker_ad2803ae95edd849ca9dcf8410f32168.bindPopup(popup_f832a74dcfa426acd784a44f0d72b067)
        ;

        
    
    
            var marker_922a0de48203e41d04eb2dbe8c17fa0e = L.marker(
                [1.217102975, 103.8501062],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_aa5b776b06626552863a91ea204c638d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_922a0de48203e41d04eb2dbe8c17fa0e.setIcon(icon_aa5b776b06626552863a91ea204c638d);
        
    
        var popup_d329268460fef16fe48672bbb8888d5f = L.popup({"maxWidth": "100%"});

        
            
                var html_a1298776d9c5cde313b30e941043dcab = $(`<div id="html_a1298776d9c5cde313b30e941043dcab" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at TMSI-ST JOHN'S ISLAND</div>`)[0];
                popup_d329268460fef16fe48672bbb8888d5f.setContent(html_a1298776d9c5cde313b30e941043dcab);
            
        

        marker_922a0de48203e41d04eb2dbe8c17fa0e.bindPopup(popup_d329268460fef16fe48672bbb8888d5f)
        ;

        
    
    
            var marker_774cff35df540d45321efdfdfe56bfb3 = L.marker(
                [1.294495673, 103.7809137],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_67181801789ace775c6c0f4c59bfee06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_774cff35df540d45321efdfdfe56bfb3.setIcon(icon_67181801789ace775c6c0f4c59bfee06);
        
    
        var popup_9b8dbcf619f209520140a534638ada0e = L.popup({"maxWidth": "100%"});

        
            
                var html_83393ab557c958eebfe4146e53d449bc = $(`<div id="html_83393ab557c958eebfe4146e53d449bc" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at CTR FOR LIFE SCIENCES</div>`)[0];
                popup_9b8dbcf619f209520140a534638ada0e.setContent(html_83393ab557c958eebfe4146e53d449bc);
            
        

        marker_774cff35df540d45321efdfdfe56bfb3.bindPopup(popup_9b8dbcf619f209520140a534638ada0e)
        ;

        
    
    
            var marker_4f3844da3e0cef72aeb0e4a35f88d68f = L.marker(
                [1.294572999, 103.7796455],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_1420b529579dd5ce10c7b85041d7e2a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4f3844da3e0cef72aeb0e4a35f88d68f.setIcon(icon_1420b529579dd5ce10c7b85041d7e2a4);
        
    
        var popup_1ad6027ce62974a15837ee80041f4434 = L.popup({"maxWidth": "100%"});

        
            
                var html_84153073d2d297d9d297b21c7897c268 = $(`<div id="html_84153073d2d297d9d297b21c7897c268" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at 5 KR BUNGALOW</div>`)[0];
                popup_1ad6027ce62974a15837ee80041f4434.setContent(html_84153073d2d297d9d297b21c7897c268);
            
        

        marker_4f3844da3e0cef72aeb0e4a35f88d68f.bindPopup(popup_1ad6027ce62974a15837ee80041f4434)
        ;

        
    
    
            var marker_be5ee936996468e8040fc62408ef5b3e = L.marker(
                [1.318059047, 103.8199399],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_f0703cef768c95d164f77c092fca399c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_be5ee936996468e8040fc62408ef5b3e.setIcon(icon_f0703cef768c95d164f77c092fca399c);
        
    
        var popup_d2d6fa7516d5f5168b0e4dcf53cad010 = L.popup({"maxWidth": "100%"});

        
            
                var html_5a84b7fc482740015f308a1ee56d7801 = $(`<div id="html_5a84b7fc482740015f308a1ee56d7801" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at 20 EVANS BUNGALOW</div>`)[0];
                popup_d2d6fa7516d5f5168b0e4dcf53cad010.setContent(html_5a84b7fc482740015f308a1ee56d7801);
            
        

        marker_be5ee936996468e8040fc62408ef5b3e.bindPopup(popup_d2d6fa7516d5f5168b0e4dcf53cad010)
        ;

        
    
    
            var marker_dff629ce410dd067206fb1264697841c = L.marker(
                [1.295529468, 103.7802815],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_fe9727baea4b9bd689d7d8d0968844f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_dff629ce410dd067206fb1264697841c.setIcon(icon_fe9727baea4b9bd689d7d8d0968844f4);
        
    
        var popup_bee15777db37c708d0337d6123c1b8e9 = L.popup({"maxWidth": "100%"});

        
            
                var html_8005154da28a877be2ceec4c59f101b8 = $(`<div id="html_8005154da28a877be2ceec4c59f101b8" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at LECTURE THEATRE 37</div>`)[0];
                popup_bee15777db37c708d0337d6123c1b8e9.setContent(html_8005154da28a877be2ceec4c59f101b8);
            
        

        marker_dff629ce410dd067206fb1264697841c.bindPopup(popup_bee15777db37c708d0337d6123c1b8e9)
        ;

        
    
    
            var marker_66321447dabc001f8f20d81a81b19c0e = L.marker(
                [1.291537312, 103.7756853],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_23e6378f9928f8a6bc9fc80b288335b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_66321447dabc001f8f20d81a81b19c0e.setIcon(icon_23e6378f9928f8a6bc9fc80b288335b2);
        
    
        var popup_39a5c66da508d4758bac68b75e779805 = L.popup({"maxWidth": "100%"});

        
            
                var html_ddfdfe25b6d197ce90af9d29ac04f4ab = $(`<div id="html_ddfdfe25b6d197ce90af9d29ac04f4ab" style="width: 100.0%; height: 100.0%;">SEXUAL INCIDENTS at SHEARES HALL (COMMUNAL HALL)</div>`)[0];
                popup_39a5c66da508d4758bac68b75e779805.setContent(html_ddfdfe25b6d197ce90af9d29ac04f4ab);
            
        

        marker_66321447dabc001f8f20d81a81b19c0e.bindPopup(popup_39a5c66da508d4758bac68b75e779805)
        ;

        
    
    
            var marker_6b79a3c704f390aa55ee3e6d4b1c3f94 = L.marker(
                [1.294139769, 103.7801066],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_4a31b808b36b4982889c5287229ec5b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6b79a3c704f390aa55ee3e6d4b1c3f94.setIcon(icon_4a31b808b36b4982889c5287229ec5b0);
        
    
        var popup_7b9d5e026392c1d05598df8d2c8d69e5 = L.popup({"maxWidth": "100%"});

        
            
                var html_3216e88717d9016d7bac04bff97201e2 = $(`<div id="html_3216e88717d9016d7bac04bff97201e2" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at 3 KR BUNGALOW</div>`)[0];
                popup_7b9d5e026392c1d05598df8d2c8d69e5.setContent(html_3216e88717d9016d7bac04bff97201e2);
            
        

        marker_6b79a3c704f390aa55ee3e6d4b1c3f94.bindPopup(popup_7b9d5e026392c1d05598df8d2c8d69e5)
        ;

        
    
    
            var marker_f7e44b85e2c739763ff0c83497314990 = L.marker(
                [1.290472992, 103.7804283],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_ce37d1aab7cc443c82038184823e33e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f7e44b85e2c739763ff0c83497314990.setIcon(icon_ce37d1aab7cc443c82038184823e33e9);
        
    
        var popup_c7ab80c4f0de4baa435675b429d2600f = L.popup({"maxWidth": "100%"});

        
            
                var html_c21c4e4585251926dcc90e55a2787619 = $(`<div id="html_c21c4e4585251926dcc90e55a2787619" style="width: 100.0%; height: 100.0%;">SEXUAL INCIDENTS at PGP RESIDENCES (BLOCK 21)</div>`)[0];
                popup_c7ab80c4f0de4baa435675b429d2600f.setContent(html_c21c4e4585251926dcc90e55a2787619);
            
        

        marker_f7e44b85e2c739763ff0c83497314990.bindPopup(popup_c7ab80c4f0de4baa435675b429d2600f)
        ;

        
    
    
            var marker_d5513524aac9fd0cf705df9cc35f3c84 = L.marker(
                [1.291524551, 103.7744384],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_68bdbf3b527436d6dbc5527a57ca9771 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d5513524aac9fd0cf705df9cc35f3c84.setIcon(icon_68bdbf3b527436d6dbc5527a57ca9771);
        
    
        var popup_989a55af15a3de75d6527233ed0d7b44 = L.popup({"maxWidth": "100%"});

        
            
                var html_a3b3d43ca1d68ab2830fd4e7f25ef622 = $(`<div id="html_a3b3d43ca1d68ab2830fd4e7f25ef622" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at KENT RIDGE HALL (BLOCK D)</div>`)[0];
                popup_989a55af15a3de75d6527233ed0d7b44.setContent(html_a3b3d43ca1d68ab2830fd4e7f25ef622);
            
        

        marker_d5513524aac9fd0cf705df9cc35f3c84.bindPopup(popup_989a55af15a3de75d6527233ed0d7b44)
        ;

        
    
    
            var marker_bc9c9121b1ac6647272ae168f984d016 = L.marker(
                [1.297921449, 103.7758882],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_2f957871e1bd8c3fced8ea89ac37f26f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_bc9c9121b1ac6647272ae168f984d016.setIcon(icon_2f957871e1bd8c3fced8ea89ac37f26f);
        
    
        var popup_6a58cc2d9c9453d02c8d0de22e19008d = L.popup({"maxWidth": "100%"});

        
            
                var html_a96a60af0ed7740f7c68f0f8ccc70f46 = $(`<div id="html_a96a60af0ed7740f7c68f0f8ccc70f46" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at RIDGE VIEW RESIDENCE (BLOCK D)</div>`)[0];
                popup_6a58cc2d9c9453d02c8d0de22e19008d.setContent(html_a96a60af0ed7740f7c68f0f8ccc70f46);
            
        

        marker_bc9c9121b1ac6647272ae168f984d016.bindPopup(popup_6a58cc2d9c9453d02c8d0de22e19008d)
        ;

        
    
    
            var marker_42457774fa46d8716a04ee4892bd5900 = L.marker(
                [1.291805315, 103.7746999],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_9af5992104bb3e0e8402876963e0ae3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_42457774fa46d8716a04ee4892bd5900.setIcon(icon_9af5992104bb3e0e8402876963e0ae3a);
        
    
        var popup_923637f302cb91747568eec20c383e17 = L.popup({"maxWidth": "100%"});

        
            
                var html_415a7c3ae2198ee756a8fea9efca0094 = $(`<div id="html_415a7c3ae2198ee756a8fea9efca0094" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at HOUSE 5</div>`)[0];
                popup_923637f302cb91747568eec20c383e17.setContent(html_415a7c3ae2198ee756a8fea9efca0094);
            
        

        marker_42457774fa46d8716a04ee4892bd5900.bindPopup(popup_923637f302cb91747568eec20c383e17)
        ;

        
    
    
            var marker_d9307377330fd06e85b90b651cd2b0fb = L.marker(
                [1.29305545, 103.7807199],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_5be7e123e66a71d95367a05ba32f2f50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d9307377330fd06e85b90b651cd2b0fb.setIcon(icon_5be7e123e66a71d95367a05ba32f2f50);
        
    
        var popup_bc285469629ec090191c7ee659caa99c = L.popup({"maxWidth": "100%"});

        
            
                var html_6b7079ac315ba1879bcfa63075f04d76 = $(`<div id="html_6b7079ac315ba1879bcfa63075f04d76" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at KE VII HALL (BLOCK E)</div>`)[0];
                popup_bc285469629ec090191c7ee659caa99c.setContent(html_6b7079ac315ba1879bcfa63075f04d76);
            
        

        marker_d9307377330fd06e85b90b651cd2b0fb.bindPopup(popup_bc285469629ec090191c7ee659caa99c)
        ;

        
    
    
            var marker_93da9a9db5f514079ccc0942cb3da3b5 = L.marker(
                [1.297236942, 103.7779364],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_551df70e3e9a8e95849c693b88a9482f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_93da9a9db5f514079ccc0942cb3da3b5.setIcon(icon_551df70e3e9a8e95849c693b88a9482f);
        
    
        var popup_c60181e558b00582e34f28f188058f70 = L.popup({"maxWidth": "100%"});

        
            
                var html_95e5f0b40cb27c469e9519f3d2133ddc = $(`<div id="html_95e5f0b40cb27c469e9519f3d2133ddc" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at UNIVERSITY HALL</div>`)[0];
                popup_c60181e558b00582e34f28f188058f70.setContent(html_95e5f0b40cb27c469e9519f3d2133ddc);
            
        

        marker_93da9a9db5f514079ccc0942cb3da3b5.bindPopup(popup_c60181e558b00582e34f28f188058f70)
        ;

        
    
    
            var marker_ed758c28081eb3abaf5936b82d7f2708 = L.marker(
                [1.293482761, 103.7803849],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_6d719abf2843973f7cb23761e8c01ce8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ed758c28081eb3abaf5936b82d7f2708.setIcon(icon_6d719abf2843973f7cb23761e8c01ce8);
        
    
        var popup_2258bf6f869c437d149b3e47cd820313 = L.popup({"maxWidth": "100%"});

        
            
                var html_0406eb275bc481313b05ee8bac948c6d = $(`<div id="html_0406eb275bc481313b05ee8bac948c6d" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KE VII HALL (BLOCK G)</div>`)[0];
                popup_2258bf6f869c437d149b3e47cd820313.setContent(html_0406eb275bc481313b05ee8bac948c6d);
            
        

        marker_ed758c28081eb3abaf5936b82d7f2708.bindPopup(popup_2258bf6f869c437d149b3e47cd820313)
        ;

        
    
    
            var marker_2c2f9a8755d3163a7eb720c840d64e58 = L.marker(
                [1.30219698, 103.767326],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_655afdfd9befd698a5ed2e5d2241357b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2c2f9a8755d3163a7eb720c840d64e58.setIcon(icon_655afdfd9befd698a5ed2e5d2241357b);
        
    
        var popup_6723cd8cf7a70054bb69e4d6928f441a = L.popup({"maxWidth": "100%"});

        
            
                var html_e3469c3e324bebe2d95fcc4a76ea3b2e = $(`<div id="html_e3469c3e324bebe2d95fcc4a76ea3b2e" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KENT VALE APARTMENT BLK F, 107</div>`)[0];
                popup_6723cd8cf7a70054bb69e4d6928f441a.setContent(html_e3469c3e324bebe2d95fcc4a76ea3b2e);
            
        

        marker_2c2f9a8755d3163a7eb720c840d64e58.bindPopup(popup_6723cd8cf7a70054bb69e4d6928f441a)
        ;

        
    
    
            var marker_11de70b51770ee8f8ecc239d69d33e7c = L.marker(
                [1.291532109, 103.7746841],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_a004f77eef21feb8750f16f58db2006d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_11de70b51770ee8f8ecc239d69d33e7c.setIcon(icon_a004f77eef21feb8750f16f58db2006d);
        
    
        var popup_4050ec483e939a639110757142f17d23 = L.popup({"maxWidth": "100%"});

        
            
                var html_4f81d3d268b26f77a50266900d83d931 = $(`<div id="html_4f81d3d268b26f77a50266900d83d931" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KENT RIDGE HALL (BLOCK C)</div>`)[0];
                popup_4050ec483e939a639110757142f17d23.setContent(html_4f81d3d268b26f77a50266900d83d931);
            
        

        marker_11de70b51770ee8f8ecc239d69d33e7c.bindPopup(popup_4050ec483e939a639110757142f17d23)
        ;

        
    
    
            var marker_8dcaaa3326207f18c19d7f3a2989b690 = L.marker(
                [1.318059047, 103.8199399],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_7b49d3b56bef614acf45137368becc25 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8dcaaa3326207f18c19d7f3a2989b690.setIcon(icon_7b49d3b56bef614acf45137368becc25);
        
    
        var popup_13228f61bb44dad53b31b4194b128637 = L.popup({"maxWidth": "100%"});

        
            
                var html_1bd8886b8c095e6a74a0054af2c9391e = $(`<div id="html_1bd8886b8c095e6a74a0054af2c9391e" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at 20 EVANS BUNGALOW</div>`)[0];
                popup_13228f61bb44dad53b31b4194b128637.setContent(html_1bd8886b8c095e6a74a0054af2c9391e);
            
        

        marker_8dcaaa3326207f18c19d7f3a2989b690.bindPopup(popup_13228f61bb44dad53b31b4194b128637)
        ;

        
    
    
            var marker_66bbab8ad72072da83b18e5a76fb58d1 = L.marker(
                [1.298084101, 103.7724236],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_96edb615ce58c49abe0e518357b03f3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_66bbab8ad72072da83b18e5a76fb58d1.setIcon(icon_96edb615ce58c49abe0e518357b03f3d);
        
    
        var popup_ce3ee0ae71d7d26a87624a1a631de5c9 = L.popup({"maxWidth": "100%"});

        
            
                var html_60891943c7e0bc6bc41ce2811caeb074 = $(`<div id="html_60891943c7e0bc6bc41ce2811caeb074" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at ENGINEERING BLOCK 5</div>`)[0];
                popup_ce3ee0ae71d7d26a87624a1a631de5c9.setContent(html_60891943c7e0bc6bc41ce2811caeb074);
            
        

        marker_66bbab8ad72072da83b18e5a76fb58d1.bindPopup(popup_ce3ee0ae71d7d26a87624a1a631de5c9)
        ;

        
    
    
            var marker_4d20de7167be8f0cb7d22d978b235357 = L.marker(
                [1.319098649, 103.8176172],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_90089db59a4d170b5b318084de11010e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4d20de7167be8f0cb7d22d978b235357.setIcon(icon_90089db59a4d170b5b318084de11010e);
        
    
        var popup_ebcd959fe5e83565c5634866d9fee3fa = L.popup({"maxWidth": "100%"});

        
            
                var html_dfddd665680765e89c804edb8f276caa = $(`<div id="html_dfddd665680765e89c804edb8f276caa" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at BTC-MANASSEH MEYER</div>`)[0];
                popup_ebcd959fe5e83565c5634866d9fee3fa.setContent(html_dfddd665680765e89c804edb8f276caa);
            
        

        marker_4d20de7167be8f0cb7d22d978b235357.bindPopup(popup_ebcd959fe5e83565c5634866d9fee3fa)
        ;

        
    
    
            var marker_eb1ad0468cac7098e3782bfae888ea5b = L.marker(
                [1.302406233, 103.7720861],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_25239f7c29760cc93ee6251fa3bcbf08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_eb1ad0468cac7098e3782bfae888ea5b.setIcon(icon_25239f7c29760cc93ee6251fa3bcbf08);
        
    
        var popup_cc845b97d881b48228a397dfcb724d5a = L.popup({"maxWidth": "100%"});

        
            
                var html_c71d6d8bdeec2a83778b8bc6b35e2a96 = $(`<div id="html_c71d6d8bdeec2a83778b8bc6b35e2a96" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at YSTCM CARPARK</div>`)[0];
                popup_cc845b97d881b48228a397dfcb724d5a.setContent(html_c71d6d8bdeec2a83778b8bc6b35e2a96);
            
        

        marker_eb1ad0468cac7098e3782bfae888ea5b.bindPopup(popup_cc845b97d881b48228a397dfcb724d5a)
        ;

        
    
    
            var marker_2ff391b5c5b21fc4b72a40025386a94e = L.marker(
                [1.291523732, 103.7801396],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_9a836786e3d309df5c437c7b9e796df4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2ff391b5c5b21fc4b72a40025386a94e.setIcon(icon_9a836786e3d309df5c437c7b9e796df4);
        
    
        var popup_739359aec231be30ba0466c900db2c7b = L.popup({"maxWidth": "100%"});

        
            
                var html_cc23badb7cf619304d6e1a7837b8e433 = $(`<div id="html_cc23badb7cf619304d6e1a7837b8e433" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at PGP RESIDENCES (BLOCK 16)</div>`)[0];
                popup_739359aec231be30ba0466c900db2c7b.setContent(html_cc23badb7cf619304d6e1a7837b8e433);
            
        

        marker_2ff391b5c5b21fc4b72a40025386a94e.bindPopup(popup_739359aec231be30ba0466c900db2c7b)
        ;

        
    
    
            var marker_d689d4f36cb726e1983cbe3a1c8ef1c0 = L.marker(
                [1.308169683, 103.7723937],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_84c4ab76f950c865b550e83b6191d6bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d689d4f36cb726e1983cbe3a1c8ef1c0.setIcon(icon_84c4ab76f950c865b550e83b6191d6bc);
        
    
        var popup_d6cdb3a35dfe5359d6efb4fea3fd26c2 = L.popup({"maxWidth": "100%"});

        
            
                var html_e8339a2239c44cb69c201ea6b6c08745 = $(`<div id="html_e8339a2239c44cb69c201ea6b6c08745" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at YALE WEST CORE</div>`)[0];
                popup_d6cdb3a35dfe5359d6efb4fea3fd26c2.setContent(html_e8339a2239c44cb69c201ea6b6c08745);
            
        

        marker_d689d4f36cb726e1983cbe3a1c8ef1c0.bindPopup(popup_d6cdb3a35dfe5359d6efb4fea3fd26c2)
        ;

        
    
    
            var marker_5b9f51b09ce758c6887f8f514c3ed375 = L.marker(
                [1.290472992, 103.7804283],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_a8f7f60ba527dd1a1836199bad482d26 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5b9f51b09ce758c6887f8f514c3ed375.setIcon(icon_a8f7f60ba527dd1a1836199bad482d26);
        
    
        var popup_4a6f5d63c167ca8253c3fd501254c20e = L.popup({"maxWidth": "100%"});

        
            
                var html_9ed85273bf3cb9291175737191b0d731 = $(`<div id="html_9ed85273bf3cb9291175737191b0d731" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 21)</div>`)[0];
                popup_4a6f5d63c167ca8253c3fd501254c20e.setContent(html_9ed85273bf3cb9291175737191b0d731);
            
        

        marker_5b9f51b09ce758c6887f8f514c3ed375.bindPopup(popup_4a6f5d63c167ca8253c3fd501254c20e)
        ;

        
    
    
            var marker_152fa02665e03a10f0300f3c069e184a = L.marker(
                [1.305971181, 103.7720215],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_976eaef9ac1161644f01012b1d603d78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_152fa02665e03a10f0300f3c069e184a.setIcon(icon_976eaef9ac1161644f01012b1d603d78);
        
    
        var popup_26edd7af304348105a3304641bc0644f = L.popup({"maxWidth": "100%"});

        
            
                var html_030307eeed7250957342709db86b358a = $(`<div id="html_030307eeed7250957342709db86b358a" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at YALE RESIDENTIAL COLLEGE 1</div>`)[0];
                popup_26edd7af304348105a3304641bc0644f.setContent(html_030307eeed7250957342709db86b358a);
            
        

        marker_152fa02665e03a10f0300f3c069e184a.bindPopup(popup_26edd7af304348105a3304641bc0644f)
        ;

        
    
    
            var marker_5932bb343cc67d3448dd1b90986d0272 = L.marker(
                [1.300558705, 103.7707907],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_d0a478c1e5610d8621f9d52282be8382 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5932bb343cc67d3448dd1b90986d0272.setIcon(icon_d0a478c1e5610d8621f9d52282be8382);
        
    
        var popup_c73acec2fbf6e0cd4344697b6c9d65c5 = L.popup({"maxWidth": "100%"});

        
            
                var html_ca0d50727b480b587b88af8558b69bb3 = $(`<div id="html_ca0d50727b480b587b88af8558b69bb3" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at ENGINEERING AUDITORIUM</div>`)[0];
                popup_c73acec2fbf6e0cd4344697b6c9d65c5.setContent(html_ca0d50727b480b587b88af8558b69bb3);
            
        

        marker_5932bb343cc67d3448dd1b90986d0272.bindPopup(popup_c73acec2fbf6e0cd4344697b6c9d65c5)
        ;

        
    
    
            var marker_ff027cf393027a5fd322c7a0e2f669b6 = L.marker(
                [1.294399964, 103.7835039],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_5984cdec9106450fddcba5966a5433ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ff027cf393027a5fd322c7a0e2f669b6.setIcon(icon_5984cdec9106450fddcba5966a5433ce);
        
    
        var popup_402f1757a5d1d07f8bb19047adc2a70c = L.popup({"maxWidth": "100%"});

        
            
                var html_5bb076febe9489b2bbcb3642d5f18cd3 = $(`<div id="html_5bb076febe9489b2bbcb3642d5f18cd3" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at NUHS-MAIN BUILDING</div>`)[0];
                popup_402f1757a5d1d07f8bb19047adc2a70c.setContent(html_5bb076febe9489b2bbcb3642d5f18cd3);
            
        

        marker_ff027cf393027a5fd322c7a0e2f669b6.bindPopup(popup_402f1757a5d1d07f8bb19047adc2a70c)
        ;

        
    
    
            var marker_8143b6d247ab6e4a5ffd9537459e20b2 = L.marker(
                [1.29056547, 103.7816148],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_63269344a31729eb93378816ea298254 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8143b6d247ab6e4a5ffd9537459e20b2.setIcon(icon_63269344a31729eb93378816ea298254);
        
    
        var popup_d561436dbdf30cb540a121bdc6287301 = L.popup({"maxWidth": "100%"});

        
            
                var html_7f2aab7779c88ee3f6db1c2388e1eb60 = $(`<div id="html_7f2aab7779c88ee3f6db1c2388e1eb60" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 27)</div>`)[0];
                popup_d561436dbdf30cb540a121bdc6287301.setContent(html_7f2aab7779c88ee3f6db1c2388e1eb60);
            
        

        marker_8143b6d247ab6e4a5ffd9537459e20b2.bindPopup(popup_d561436dbdf30cb540a121bdc6287301)
        ;

        
    
    
            var marker_78640adfd92257a7e1c725d852aec9ab = L.marker(
                [1.296769604, 103.7802964],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_04d3345acd324fc98724751658d00e34 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_78640adfd92257a7e1c725d852aec9ab.setIcon(icon_04d3345acd324fc98724751658d00e34);
        
    
        var popup_24ba94e521a57ba093312195a3133b4f = L.popup({"maxWidth": "100%"});

        
            
                var html_6ed02dc5eb498163b26aada5c0d3f012 = $(`<div id="html_6ed02dc5eb498163b26aada5c0d3f012" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at DATA-CENTRE-NUS HIGH SCHOOL</div>`)[0];
                popup_24ba94e521a57ba093312195a3133b4f.setContent(html_6ed02dc5eb498163b26aada5c0d3f012);
            
        

        marker_78640adfd92257a7e1c725d852aec9ab.bindPopup(popup_24ba94e521a57ba093312195a3133b4f)
        ;

        
    
    
            var marker_50ab8b2276871d662818f8462a8edc9d = L.marker(
                [1.29068027, 103.7815813],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_98a632b51545a9fb7d4cd84d36aafd5f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_50ab8b2276871d662818f8462a8edc9d.setIcon(icon_98a632b51545a9fb7d4cd84d36aafd5f);
        
    
        var popup_785e2cd2b2c98a78877eee0f4cfe6cbe = L.popup({"maxWidth": "100%"});

        
            
                var html_8d884b8c5ea377146e825de8242efe1d = $(`<div id="html_8d884b8c5ea377146e825de8242efe1d" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 26)</div>`)[0];
                popup_785e2cd2b2c98a78877eee0f4cfe6cbe.setContent(html_8d884b8c5ea377146e825de8242efe1d);
            
        

        marker_50ab8b2276871d662818f8462a8edc9d.bindPopup(popup_785e2cd2b2c98a78877eee0f4cfe6cbe)
        ;

        
    
    
            var marker_557f2498dba7a6b2e8ea7f1333af0a6d = L.marker(
                [1.299936148, 103.7722517],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_e7b403e6e7d0e1570847dbb543ea93f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_557f2498dba7a6b2e8ea7f1333af0a6d.setIcon(icon_e7b403e6e7d0e1570847dbb543ea93f0);
        
    
        var popup_184aa9e191fb88e0d58efdc2c998b0a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_03217dc7a8fc5562858a5ef6bf3ed184 = $(`<div id="html_03217dc7a8fc5562858a5ef6bf3ed184" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at T-LAB CARPARK</div>`)[0];
                popup_184aa9e191fb88e0d58efdc2c998b0a3.setContent(html_03217dc7a8fc5562858a5ef6bf3ed184);
            
        

        marker_557f2498dba7a6b2e8ea7f1333af0a6d.bindPopup(popup_184aa9e191fb88e0d58efdc2c998b0a3)
        ;

        
    
    
            var marker_01016eea213fa7e6e5d06d049130cdc5 = L.marker(
                [1.294839606, 103.77459],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_ce881d46206b5d2a91dd9c2967b40d42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_01016eea213fa7e6e5d06d049130cdc5.setIcon(icon_ce881d46206b5d2a91dd9c2967b40d42);
        
    
        var popup_b2a5589ea0a1b9a1140bf7491d5f18bb = L.popup({"maxWidth": "100%"});

        
            
                var html_89af1440f54ec0bafb63f5875f8b82ac = $(`<div id="html_89af1440f54ec0bafb63f5875f8b82ac" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at COMPUTING BLOCK 3</div>`)[0];
                popup_b2a5589ea0a1b9a1140bf7491d5f18bb.setContent(html_89af1440f54ec0bafb63f5875f8b82ac);
            
        

        marker_01016eea213fa7e6e5d06d049130cdc5.bindPopup(popup_b2a5589ea0a1b9a1140bf7491d5f18bb)
        ;

        
    
    
            var marker_4c9957ebd5ea39f83d79d9021a040368 = L.marker(
                [1.290851133, 103.781384],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_7f7afdbc11eb4a3e65100b101ccf818e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4c9957ebd5ea39f83d79d9021a040368.setIcon(icon_7f7afdbc11eb4a3e65100b101ccf818e);
        
    
        var popup_1dda812b7df88078a85f07652e895d3d = L.popup({"maxWidth": "100%"});

        
            
                var html_1bf56f8c9a346b9d360d7eb9d824fc39 = $(`<div id="html_1bf56f8c9a346b9d360d7eb9d824fc39" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP BUS-STOP (OFFICE)</div>`)[0];
                popup_1dda812b7df88078a85f07652e895d3d.setContent(html_1bf56f8c9a346b9d360d7eb9d824fc39);
            
        

        marker_4c9957ebd5ea39f83d79d9021a040368.bindPopup(popup_1dda812b7df88078a85f07652e895d3d)
        ;

        
    
    
            var marker_80c43ef6e96bc4ad329a5a55a5a5ab5e = L.marker(
                [1.291532109, 103.7746841],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_a1ee8dfccec727ae2a8f71c1ca120842 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_80c43ef6e96bc4ad329a5a55a5a5ab5e.setIcon(icon_a1ee8dfccec727ae2a8f71c1ca120842);
        
    
        var popup_a687e6df9654c457310b4811dc26af43 = L.popup({"maxWidth": "100%"});

        
            
                var html_53697671b08636d40a6a8e75e2acd2e5 = $(`<div id="html_53697671b08636d40a6a8e75e2acd2e5" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at KENT RIDGE HALL (BLOCK C)</div>`)[0];
                popup_a687e6df9654c457310b4811dc26af43.setContent(html_53697671b08636d40a6a8e75e2acd2e5);
            
        

        marker_80c43ef6e96bc4ad329a5a55a5a5ab5e.bindPopup(popup_a687e6df9654c457310b4811dc26af43)
        ;

        
    
    
            var marker_7aea50662695f36542eedb3ce4b290fb = L.marker(
                [1.291117652, 103.7758047],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_63f0733716c110164346487224a025f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7aea50662695f36542eedb3ce4b290fb.setIcon(icon_63f0733716c110164346487224a025f4);
        
    
        var popup_52b343dc10d874be6508d54cd7cfd86f = L.popup({"maxWidth": "100%"});

        
            
                var html_09799b2ece1b7eb5aa9b0b5b5b568e3c = $(`<div id="html_09799b2ece1b7eb5aa9b0b5b5b568e3c" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at SHEARES HALL (BLOCK E)</div>`)[0];
                popup_52b343dc10d874be6508d54cd7cfd86f.setContent(html_09799b2ece1b7eb5aa9b0b5b5b568e3c);
            
        

        marker_7aea50662695f36542eedb3ce4b290fb.bindPopup(popup_52b343dc10d874be6508d54cd7cfd86f)
        ;

        
    
    
            var marker_3872754c3132a5d93bced56272bad832 = L.marker(
                [1.291117652, 103.7758047],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_a4a5578c2465778154d4924d3150aa0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3872754c3132a5d93bced56272bad832.setIcon(icon_a4a5578c2465778154d4924d3150aa0b);
        
    
        var popup_cd891eb8e09be59e83d4744dc9caa176 = L.popup({"maxWidth": "100%"});

        
            
                var html_4f83455743c56e339191100d534e594d = $(`<div id="html_4f83455743c56e339191100d534e594d" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at SHEARES HALL (BLOCK E)</div>`)[0];
                popup_cd891eb8e09be59e83d4744dc9caa176.setContent(html_4f83455743c56e339191100d534e594d);
            
        

        marker_3872754c3132a5d93bced56272bad832.bindPopup(popup_cd891eb8e09be59e83d4744dc9caa176)
        ;

        
    
    
            var marker_ad7b8b2d05db6f79388c510deeefda45 = L.marker(
                [1.293083063, 103.7707861],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_6095a742ebd02b3235ad7163d75e41a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ad7b8b2d05db6f79388c510deeefda45.setIcon(icon_6095a742ebd02b3235ad7163d75e41a1);
        
    
        var popup_4b654c1015d5629214791fcaad081d74 = L.popup({"maxWidth": "100%"});

        
            
                var html_948ec8ec19841c8217c65a27111d255f = $(`<div id="html_948ec8ec19841c8217c65a27111d255f" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at TEMASEK HALL (BLOCK A)</div>`)[0];
                popup_4b654c1015d5629214791fcaad081d74.setContent(html_948ec8ec19841c8217c65a27111d255f);
            
        

        marker_ad7b8b2d05db6f79388c510deeefda45.bindPopup(popup_4b654c1015d5629214791fcaad081d74)
        ;

        
    
    
            var marker_b7341cdf82670bb1487f0e3405e306c3 = L.marker(
                [1.291524551, 103.7744384],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_fae021ebc3dcbcd682bd264784f31bd0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b7341cdf82670bb1487f0e3405e306c3.setIcon(icon_fae021ebc3dcbcd682bd264784f31bd0);
        
    
        var popup_c67300806f1b6cb25cc5d8f36ecc407b = L.popup({"maxWidth": "100%"});

        
            
                var html_bc43e2030096167c07b7399404097da7 = $(`<div id="html_bc43e2030096167c07b7399404097da7" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at KENT RIDGE HALL (BLOCK D)</div>`)[0];
                popup_c67300806f1b6cb25cc5d8f36ecc407b.setContent(html_bc43e2030096167c07b7399404097da7);
            
        

        marker_b7341cdf82670bb1487f0e3405e306c3.bindPopup(popup_c67300806f1b6cb25cc5d8f36ecc407b)
        ;

        
    
    
            var marker_b3924129c56eae4bb545da4c95106e87 = L.marker(
                [1.291354968, 103.7760394],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_4a9a7e2faf0c1d132b9328431a6b7761 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b3924129c56eae4bb545da4c95106e87.setIcon(icon_4a9a7e2faf0c1d132b9328431a6b7761);
        
    
        var popup_90483597a0bab8a84ddffb5693777b36 = L.popup({"maxWidth": "100%"});

        
            
                var html_d99ad9a45fd2c937f1746b42ae6281db = $(`<div id="html_d99ad9a45fd2c937f1746b42ae6281db" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at SHEARES HALL (BLOCK C)</div>`)[0];
                popup_90483597a0bab8a84ddffb5693777b36.setContent(html_d99ad9a45fd2c937f1746b42ae6281db);
            
        

        marker_b3924129c56eae4bb545da4c95106e87.bindPopup(popup_90483597a0bab8a84ddffb5693777b36)
        ;

        
    
    
            var marker_b6236534c09f22e9058e00c67d67a914 = L.marker(
                [1.292651799, 103.7797184],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_f116eb3d994c44499d1816fea1753df0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b6236534c09f22e9058e00c67d67a914.setIcon(icon_f116eb3d994c44499d1816fea1753df0);
        
    
        var popup_22ea281af5c028093fd365755297448f = L.popup({"maxWidth": "100%"});

        
            
                var html_9647a134e9029f9002f4afaeed606cb1 = $(`<div id="html_9647a134e9029f9002f4afaeed606cb1" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at 3 PGP BUNGALOW</div>`)[0];
                popup_22ea281af5c028093fd365755297448f.setContent(html_9647a134e9029f9002f4afaeed606cb1);
            
        

        marker_b6236534c09f22e9058e00c67d67a914.bindPopup(popup_22ea281af5c028093fd365755297448f)
        ;

        
    
    
            var marker_8b0ab9283d618f1cf739a5548c533207 = L.marker(
                [1.290619681, 103.7816946],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_3380290d19872d79e5892c4eeb3e0c23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8b0ab9283d618f1cf739a5548c533207.setIcon(icon_3380290d19872d79e5892c4eeb3e0c23);
        
    
        var popup_01af7a7f889ad98cf74665c1dc1207c5 = L.popup({"maxWidth": "100%"});

        
            
                var html_7619e13a8542f4518692825d485e6314 = $(`<div id="html_7619e13a8542f4518692825d485e6314" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES CANTEEN 2</div>`)[0];
                popup_01af7a7f889ad98cf74665c1dc1207c5.setContent(html_7619e13a8542f4518692825d485e6314);
            
        

        marker_8b0ab9283d618f1cf739a5548c533207.bindPopup(popup_01af7a7f889ad98cf74665c1dc1207c5)
        ;

        
    
    
            var marker_99914732054664418fd011c1506cc840 = L.marker(
                [1.290916678, 103.780617],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_5e6df10bee8919f2cb57a3919426bf77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_99914732054664418fd011c1506cc840.setIcon(icon_5e6df10bee8919f2cb57a3919426bf77);
        
    
        var popup_d41c5eee03a3a46b2e9e438662b3066e = L.popup({"maxWidth": "100%"});

        
            
                var html_204b17cbdf0b16182cf73c04eda217df = $(`<div id="html_204b17cbdf0b16182cf73c04eda217df" style="width: 100.0%; height: 100.0%;">EMERGENCY INCIDENTS at PGP RESIDENCES MPH</div>`)[0];
                popup_d41c5eee03a3a46b2e9e438662b3066e.setContent(html_204b17cbdf0b16182cf73c04eda217df);
            
        

        marker_99914732054664418fd011c1506cc840.bindPopup(popup_d41c5eee03a3a46b2e9e438662b3066e)
        ;

        
    
    
            var marker_30bd908ff58cc9c56d78334b5de4d8ed = L.marker(
                [1.291222487, 103.7799887],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_c53665e90cef7a4a01ddcc776a13fac2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_30bd908ff58cc9c56d78334b5de4d8ed.setIcon(icon_c53665e90cef7a4a01ddcc776a13fac2);
        
    
        var popup_c43c795374a70ccb2f973de279a388e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e1f74a8bca08f7dd45216c818617c91 = $(`<div id="html_0e1f74a8bca08f7dd45216c818617c91" style="width: 100.0%; height: 100.0%;">SEXUAL INCIDENTS at PGP RESIDENCES (BLOCK 6)</div>`)[0];
                popup_c43c795374a70ccb2f973de279a388e7.setContent(html_0e1f74a8bca08f7dd45216c818617c91);
            
        

        marker_30bd908ff58cc9c56d78334b5de4d8ed.bindPopup(popup_c43c795374a70ccb2f973de279a388e7)
        ;

        
    
    
            var marker_404107d157973ec85a84be0b082aac66 = L.marker(
                [1.296461007, 103.7817485],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_726a48b475c092728c5d26b614e304c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_404107d157973ec85a84be0b082aac66.setIcon(icon_726a48b475c092728c5d26b614e304c1);
        
    
        var popup_49322c071c0799faaa25dbf4d216cd3c = L.popup({"maxWidth": "100%"});

        
            
                var html_a53518d2e357e2214bc1451e0f49d71f = $(`<div id="html_a53518d2e357e2214bc1451e0f49d71f" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at MEDICINE BLOCK 10</div>`)[0];
                popup_49322c071c0799faaa25dbf4d216cd3c.setContent(html_a53518d2e357e2214bc1451e0f49d71f);
            
        

        marker_404107d157973ec85a84be0b082aac66.bindPopup(popup_49322c071c0799faaa25dbf4d216cd3c)
        ;

        
    
    
            var marker_ef993054dbe62603a5f03bfce16644a2 = L.marker(
                [1.293482761, 103.7803849],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_7196e62fe9da96dfdba34d0be807e592 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ef993054dbe62603a5f03bfce16644a2.setIcon(icon_7196e62fe9da96dfdba34d0be807e592);
        
    
        var popup_a1dec48bccbceb3df93f2d7dbd7d856a = L.popup({"maxWidth": "100%"});

        
            
                var html_1d0d9352fccab4a6002e8031ac3f29bd = $(`<div id="html_1d0d9352fccab4a6002e8031ac3f29bd" style="width: 100.0%; height: 100.0%;">DAMAGED PROPERTY at KE VII HALL (BLOCK G)</div>`)[0];
                popup_a1dec48bccbceb3df93f2d7dbd7d856a.setContent(html_1d0d9352fccab4a6002e8031ac3f29bd);
            
        

        marker_ef993054dbe62603a5f03bfce16644a2.bindPopup(popup_a1dec48bccbceb3df93f2d7dbd7d856a)
        ;

        
    
    
            var marker_44de3c3aead653823e26091f5f7cc511 = L.marker(
                [1.293420222, 103.7828813],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_e8849e04f7dad9650735aac5eb9d544b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_44de3c3aead653823e26091f5f7cc511.setIcon(icon_e8849e04f7dad9650735aac5eb9d544b);
        
    
        var popup_5e460601eb59c8192569472a540776b2 = L.popup({"maxWidth": "100%"});

        
            
                var html_52d193876f83c98f83f4d883333d0ab5 = $(`<div id="html_52d193876f83c98f83f4d883333d0ab5" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at DUKE-NUS MEDSH-KHOOTECKPUAT BG</div>`)[0];
                popup_5e460601eb59c8192569472a540776b2.setContent(html_52d193876f83c98f83f4d883333d0ab5);
            
        

        marker_44de3c3aead653823e26091f5f7cc511.bindPopup(popup_5e460601eb59c8192569472a540776b2)
        ;

        
    
    
            var marker_1336f177cd18c2f451ffa65fbdc9d178 = L.marker(
                [1.291327615, 103.7802401],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_e39f169821ca33d6212c41213ebf0665 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1336f177cd18c2f451ffa65fbdc9d178.setIcon(icon_e39f169821ca33d6212c41213ebf0665);
        
    
        var popup_815bc1d6bd02c0bb8ea28f3ec018f912 = L.popup({"maxWidth": "100%"});

        
            
                var html_389a810bfb34815218bba5e480fc2a2a = $(`<div id="html_389a810bfb34815218bba5e480fc2a2a" style="width: 100.0%; height: 100.0%;">LOST AND FOUND at PGP RESIDENCES (BLOCK 17)</div>`)[0];
                popup_815bc1d6bd02c0bb8ea28f3ec018f912.setContent(html_389a810bfb34815218bba5e480fc2a2a);
            
        

        marker_1336f177cd18c2f451ffa65fbdc9d178.bindPopup(popup_815bc1d6bd02c0bb8ea28f3ec018f912)
        ;

        
    
    
            var marker_eefb956d0db9ba1622c819a367d3d1b6 = L.marker(
                [1.30249388, 103.7703148],
                {}
            ).addTo(map_83dbc988c2ffe9876bd2ac3c231e6a90);
        
    
            var icon_54e8f9a14c75d742d69bc8a6abbac646 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_eefb956d0db9ba1622c819a367d3d1b6.setIcon(icon_54e8f9a14c75d742d69bc8a6abbac646);
        
    
        var popup_9c2242bd47dd5b67bf8c76392cdebbb1 = L.popup({"maxWidth": "100%"});

        
            
                var html_90d50994568e4b0a8610b9272cd87067 = $(`<div id="html_90d50994568e4b0a8610b9272cd87067" style="width: 100.0%; height: 100.0%;">STOLEN ITEMS at KENT VALE APARTMENT BLK G, 115</div>`)[0];
                popup_9c2242bd47dd5b67bf8c76392cdebbb1.setContent(html_90d50994568e4b0a8610b9272cd87067);
            
        

        marker_eefb956d0db9ba1622c819a367d3d1b6.bindPopup(popup_9c2242bd47dd5b67bf8c76392cdebbb1)
        ;

        
    
</script>
</html>