<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .tabs {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
        }

        .tab {
            flex: 1;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #ccc;
        }

        .tab:hover {
            background-color: #ddd;
        }
        .logo {
            max-width: 100px;
            height: 100px;
        }
        .header {
            text-align: center;
            font-size: 24px;
        }
        .header-container {
            border: 2px solid #000;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 98%;
        }

        #AnalyticsContent,
        #PredictionsContent,
        #filters {
            display: none;
        }

        #iframe {
            display: none;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="logo">
            <img src="https://www.nus.edu.sg/images/default-source/identity-images/NUS_logo_full-horizontal.jpg" alt="NUS Logo" style="height: 100px;">
        </div>
        <div class="header">
            <h1>NUSecure</h1>
        </div>
        <div class="analytics-team">
            <h1>Analytics Team</h1>
        </div>
    </div>

    <div class="container">
        <div class="performance-container">
            <h2 style="font-size: 38px;">Data Analytics Dashboard</h2>
            <ul class="tabs">
                <li class="tab" onclick="showContent('Analytics')">Analytics</li>
                <li class="tab" onclick="showContent('Predictions')">Predictions</li>
            </ul>

            <div class="content" id="AnalyticsContent">
                <h2>Analytics Page</h2>
                <h3>Plots</h3>
                <div id="monthlyPlotContainer">
                    <iframe id="monthlyPlotIframe" src="/plots/Monthly-Counts-by-Year" style="width:100%; height:500px;"></iframe>
                </div>

                <div id="dailyPlotContainer">
                    <iframe id="dailyPlotIframe" src="/plots/Daily-Counts-by-Year" style="width:100%; height:500px;"></iframe>
                </div>

                <div id="hourlyPlotContainer">
                    <iframe id="hourlyPlotIframe" src="/plots/Hourly-Counts-by-Year" style="width:100%; height:500px;"></iframe>
                </div>

                <div id="locationPlotContainer">
                    <iframe id="locationPlotIframe" src="/plots/Count-of-Location-by-Year" style="width:100%; height:500px;"></iframe>
                </div>

                <div id="incidentPlotContainer">
                    <iframe id="incidentPlotIframe" src="/plots/Count-of-Incidents-by-Year" style="width:100%; height:500px;"></iframe>
                </div>

                <!-- edit if u want to
                <div class="filters">
                    <form>
                        <label for="Location">Location:</label>
                        <select id="Location">
                          <option value="BIZ">BIZ</option>
                          <option value="BTC">BTC</option>
                          <option value="CDE">CDE</option>
                          <option value="COM">COM</option>
                          <option value="DNMS">DNMS</option>
                          <option value="FASS">FASS</option>
                          <option value="FOS">FOS</option>
                          <option value="Hall">Hall</option>
                          <option value="HMKT">HMKT</option>
                          <option value="KR">KR</option>
                          <option value="KV">KV</option>
                          <option value="OTH">OTH</option>
                          <option value="PGP">PGP</option>
                          <option value="SOC">SOC</option>
                          <option value="UCC">UCC</option>
                          <option value="UTown">UTown</option>
                          <option value="YIH">YIH</option>
                        </select>
                        <br>
                        <label for="Crimes">Incident Types:</label>
                        <br>
                        <input type="checkbox" id="LostFound" name="LostFound" value="Lost and Found" checked>
                        <label for="LostFound">Lost and Found</label>
                        <br>
                        <input type="checkbox" id="StolenItems" name="StolenItems" value="Stolen Items">
                        <label for="StolenItems">Stolen Items</label>
                        <br>
                        <input type="checkbox" id="DamagedProperties" name="DamagedProperties" value="Damaged Properties">
                        <label for="DamagedProperties">Damaged Properties</label>
                        <br>
                        <input type="checkbox" id="SexualIncidents" name="SexualIncidents" value="Sexual Incidents">
                        <label for="SexualIncidents">Sexual Incidents</label>
                        <br>
                        <input type="checkbox" id="EmergencyIncidents" name="EmergencyIncidents" value="Emergency Incidents">
                        <label for="EmergencyIncidents">Emergency Incidents</label>
                        <br>
                        <label for="FromDate">From Date:</label>
                        <input type="date" id="FromDate">
                        <br>
                        <label for="ToDate">To Date:</label>
                        <input type="date" id="ToDate">
                    </form>
                </div>
                <div class="prediction-actions">

                    <button onclick="getForecastPlot(['LostFound', 'StolenItems', 'DamagedProperties', 'SexualIncidents', 'EmergencyIncidents'])">Get Forecast Plot</button>
                    <button onclick="GeneratePlot()">Generate Plot</button>
                </div>
                <div class="chart-container">
                    <div id="chart1" class="chart"></div>
                    <div id="chart2" class="chart"></div>
                    <div id="chart3" class="chart"></div>
                </div>
                !-->
                <div class="content">
                    <h2> Heatmap to identify hotspots</h2>
                    <div class="heatmap-container" style="border: 1px solid #ccc; padding: 10px;">
                        <iframe id="heatmapIframe" style="width:100%; height:500px;"></iframe>
                    </div>
                </div>
            </div>

            <div class="content" id="PredictionsContent">
                <h2>Predictions Page</h2>
                <h3>Priority of incidents</h3>
                <div class="analytics-filters">
                    <label for="Location">Location:</label>
                        <select id="RankLocation">
                          <option value="BIZ">BIZ</option>
                          <option value="BTC">BTC</option>
                          <option value="CDE">CDE</option>
                          <option value="COM">COM</option>
                          <option value="DNMS">DNMS</option>
                          <option value="FASS">FASS</option>
                          <option value="FOS">FOS</option>
                          <option value="Hall">Hall</option>
                          <option value="HMKT">HMKT</option>
                          <option value="KR">KR</option>
                          <option value="KV">KV</option>
                          <option value="OTH">OTH</option>
                          <option value="PGP">PGP</option>
                          <option value="SOC">SOC</option>
                          <option value="UCC">UCC</option>
                          <option value="UTown">UTown</option>
                          <option value="YIH">YIH</option>
                        </select>

                    <label for="DayInput">Day:</label>
                        <select id="DayInput">
                          <option value="Monday">Monday</option>
                          <option value="Tuesday">Tuesday</option>
                          <option value="Wednesday">Wednesday</option>
                          <option value="Thursday">Thursday</option>
                          <option value="Friday">Friday</option>
                          <option value="Saturday">Saturday</option>
                          <option value="Sunday">Sunday</option>
                        </select>
                    <label for="HourInput">Hour:</label>
                        <select id="HourInput">
                          <option value="Morning">Morning</option>
                          <option value="Afternoon">Afternoon</option>
                          <option value="Night">Night</option>
                        </select>
                    <button onclick="getRankPriority()">Get Rank Priority</button>
                    <p id="rankPriorityResponse"></p>
                </div>
                <br>
                <h3>Time Series Forecasting of Incidents</h3>
                <div class="filters">
                    <form>
                        <label for="incident_type">Incident Type:</label>
                        <select id="incident_type">
                          <option value="False">All</option>
                          <option value="LOST AND FOUND">Lost and Found</option>
                          <option value="STOLEN ITEMS">Stolen Items</option>
                          <option value="DAMAGED PROPERTIES">Damaged Properties</option>
                          <option value="SEXUAL INCIDENTS">Sexual Incidents</option>
                          <option value="EMERGENCY INCIDENTS">Emergency Incidents</option>
                        </select>
                        <br>
                    </form>
                </div>
                <br>
                <button onclick="getForecastPlot()">Get Forecast Plot</button>
                <div id="forecastPlotContainer">
                    <iframe id="forecastPlotIframe" style="width:100%; height:500px; border:none;"></iframe>
                </div>
                <button onclick="trainAndForecastModels()">Train All Models</button>
                <!-- <button onclick="forecastAll()">Forecast All</button> !-->

            </div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function showContent(tabName) {
            var i;
            var contents = document.getElementsByClassName("content");
            for (i = 0; i < contents.length; i++) {
                contents[i].style.display = "none";
            }

            document.getElementById(tabName + "Content").style.display = "block";
        }

        function showContent(tabName) {
            if (tabName === 'Analytics') {
                document.getElementById('AnalyticsContent').style.display = 'block';
                document.getElementById('PredictionsContent').style.display = 'none';
                generateHeatmap();
                generatePlots();
            } else if (tabName === 'Predictions') {
                document.getElementById('AnalyticsContent').style.display = 'none';
                document.getElementById('PredictionsContent').style.display = 'block';
            }
        }

        function trainAllModels() {
            fetch('/train-all')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function forecastAll() {
            fetch('/forecast-all')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function trainAndForecastModels() {
            fetch('/train-all')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to train models');
                    }
                    return response.json();
                })
                .then(trainData => {
                    alert(trainData.message);
                    return fetch('/forecast-all');
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to perform forecasting');
                    }
                    return response.json();
                })
                .then(forecastData => {
                    alert(forecastData.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function getForecastPlot() {
            var incidentType = document.getElementById('incident_type').value;
            var iframe = document.getElementById('forecastPlotIframe');
            iframe.src = `/get-forecast-plot?incident_type=${incidentType}`;
        }

        function getRankPriority() {
            const location = document.getElementById('RankLocation').value;
            const day = document.getElementById('DayInput').value;
            const hour = document.getElementById('HourInput').value;

            fetch(`/rank-priority?location=${location}&day=${day}&hour=${hour}`)
                .then(response => {
                    if (response.ok) {
                        return response.text(); // Assuming the response is a text string
                    } else {
                        throw new Error('Failed to get rank priority');
                    }
                })
                .then(data => {
                    // Update the container with the response
                    document.getElementById('rankPriorityResponse').textContent = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function generateHeatmap() {
            fetch('/generate-heatmap')
                .then(response => {
                    if (response.ok) {
                        loadHeatmapIframe();
                    } else {
                        console.error('Error in generating heatmap');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function generatePlots() {
            fetch('/generate-plots')
                .then(response => {
                    if (response.ok) {
                    } else {
                        console.error('Error in generating plots');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function loadHeatmapIframe() {
            var iframe = document.getElementById('heatmapIframe');
            iframe.src = '/plot/heatmap';
        }

    </script>
</body>
</html>
