<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/security.css') }}">        
</head>

<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>
            <a href="https://imgbb.com/">
                <img src="https://i.ibb.co/DKf23HJ/Screenshot-2023-11-15-132345-removebg-preview-1.png" alt="My App Logo" border="0">
                <span>Security Team</span>
            </a>
        </header>
        <ul>
            <li>
                <a href="" onclick="showSection('dashboard')">
                    <i class="fas fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#" onclick="showSection('map')">
                    <i class="fas fa-map"></i> Map
                </a>
            </li>
            <li>
                <a href="#" onclick="showSection('patrolRoutes')">
                    <i class="fas fa-route"></i> Patrol Routes
                </a>
            </li>
            <li>
                <a href="#" onclick="showSection('settings')">
                    <i class="fas fa-cog"></i> Settings
                </a>
            </li>
            <li>
                <button class="navigation-button" onclick="logout()">
                    <i class="fas fa-sign-out-alt" style="margin-right: 16.9px;"></i> Logout
                </button>
            </li>            
        </ul>
    </div>

    <section id="dashboardSection">
        <a href="https://ibb.co/9bspgLc">
            <img src="https://i.ibb.co/8r6mspN/Screenshot-2023-11-15-131920.png" alt="Welcome Page" border="0" height="100%" width="100%;">
        </a>
    </section>

    <section id="mapSection" style="display: none;">
        <iframe id="map" src="{{ url_for('static', filename='/color_coded_incidents_map.html') }}"></iframe>

        <button class="pull-tab" onclick="openTab()">Table Tab</button>
        <div class="overlay" id="overlay">
            <div class="overlay-content">
                <h2>Filter By:</h2>
                <input type="text" id="idFilter" placeholder="Filter by Incident ID">
                <input type="date" id="dateFilter">
                <input type="text" id="timeFilter" placeholder="Filter by Time">
                <select id="typeFilter">
                    <option value="all">Incident Type</option>
                    <option value="lost and found">Lost and Found</option>
                    <option value="damaged property">Damaged Property</option>
                    <option value="stolen items">Stolen Items</option>
                    <option value="emergency incident">Emergency Incidents</option>
                    <option value="sexual incidents">Sexual Incidents</option>
                </select>
                <select id="priorityFilter">
                    <option value="all">Priority</option>
                    <option value="normal">Normal</option>
                    <option value="high">High</option>
                </select>
                <select id="locationFilter">
                    <option value="all">Location</option>
                    <option value="biz">BIZ</option>
                    <option value="btc">BTC</option>
                    <option value="cde">CDE</option>
                    <option value="com">COM</option>
                    <option value="dnms">DNMS</option>
                    <option value="fass">FASS</option>
                    <option value="fos">FOS</option>
                    <option value="hall">Hall</option>
                    <option value="hmkt">HMKT</option>
                    <option value="kr">KR</option>
                    <option value="kv">KV</option>
                    <option value="oth">OTH</option>
                    <option value="pgp">PGP</option>
                    <option value="soc">SOC</option>
                    <option value="ucc">UCC</option>
                    <option value="utown">UTown</option>
                    <option value="yih">YIH</option>
                </select>
                <select id="statusFilter">
                    <option value="all">Status</option>
                    <option value="open">Open</option>
                    <option value="close">Close</option>
                </select>

                <body>
                <h2>Incidents Table</h2>

                <button id="addReportButton">New Report</button><br><br>
                <div id="modal" class="modal" height="500px">
                    <div id="modalContent" class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>Add New Report</h2>
                        <form id="addReportForm" method="POST" action="{{ url_for('security.add_incident_report')}}">
                            <label for="datetime">Date and Time:</label>
                            <input type="datetime-local" id="datetime" name="datetime" required><br><br>
                            <label for="description">Description:</label>
                            <input type="text" id="description" name="description" required><br><br>
                            <label for="type">Incident Type:</label>
                            <select id="type" name="type" required>
                                <option>Lost and Found</option>
                                <option>Damaged Property</option>
                                <option>Stolen Items</option>
                                <option>Emergency Incidents</option>
                                <option>Sexual Incidents</option>
                            </select><br><br>
                            <label for="priority">Priority:</label>
                            <select id="priority" name="priority" required>
                                <option>Normal</option>
                                <option>High</option>
                            </select><br><br>
                            <label for="location">Location:</label>
                            <select id="location" name="location" required>
                                <option>BIZ</option>
                                <option>BTC</option>
                                <option>CDE</option>
                                <option>COM</option>
                                <option>DNMS</option>
                                <option>FASS</option>
                                <option>FOS</option>
                                <option>Hall</option>
                                <option>HMKT</option>
                                <option>KR</option>
                                <option>KV</option>
                                <option>OTH</option>
                                <option>PGP</option>
                                <option>SOC</option>
                                <option>UCC</option>
                                <option>UTown</option>
                                <option>YIH</option>
                            </select><br><br>
                            <label for="building">Building:</label>
                            <input type="text" id="building" name="building" required><br><br>
                            <label for="status">Status:</label>
                            <select id="status" name="status" required>
                                <option>Open</option>
                                <option>Close</option>
                            </select><br><br>
                            <button type="submit">Add</button>
                            <div id="add-new-report-form-message" class="message"></div>
                        </form>
                    </div>
                </div>

                <div class="table-container">
                    <table id="dataTable">
                        <thead>
                            <tr>
                                <th>Incident ID</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Description</th>
                                <th>Incident Type</th>
                                <th>Priority</th>
                                <th>Location Group</th>
                                <th>Building</th>
                                <th>Status</th>
                                <th class="hidden-column">User</th>
                                <th class="hidden-column">Latitude</th>
                                <th class="hidden-column">Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ row['Incident ID'] }}</td>
                                <td>{{ row['Date'] }}</td>
                                <td>{{ row['Time'] }}</td>
                                <td>{{ row['Description'] }}</td>
                                <td>{{ row['Incident Type'] }}</td>
                                <td>{{ row['Priority'] }}</td>
                                <td>{{ row['Location'] }}</td>
                                <td>{{ row['Building'] }}</td>
                                <td>
                                  <form id="updateIncidentForm" method="POST" action="{{ url_for('security.update_incident') }}">
                                    <input type="hidden" name="incident_id" value="{{ row['Incident ID'] }}">
                                    <input type="hidden" name="priority" value="{{ row['Priority'] }}">
                                    <select class="status-input" name="status" onchange="this.form.submit()">
                                    <!select class="status-input" id="statusTable">
                                      <option value="Open" {% if row['Status'] == 'Open' %}selected{% 
                          endif %}>Open</option>
                                      <option value="Close" {% if row['Status'] == 'Close' %}selected{% 
                          endif %}>Close</option>
                                    </select>
                                  </form>
                                </td>
                                <td class="hidden-column">{{ row['User Added'] }}</td>
                                <td class="hidden-column">{{ row['Latitude'] }}</td>
                                <td class="hidden-column">{{ row['Longitude'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
    <section id="patrolRoutesSection" style="display: none; padding: 20px;">
        <h2 style="font-size: 30px; margin-bottom: 15px; left: 100px;">Patrol Routes Section</h2>
        <p style="font-size: 20px; left: 100px;">Recommended Routes</p>
        <div style="margin-top: 20px;">
            <a href="https://ibb.co/6WHZDyq">
                <img src="https://i.ibb.co/QKPcYJx/Screenshot-2023-11-15-154130.png" alt="Welcome Page" border="0" style="max-width: 100%; left: 100px;">
            </a>
        </div>
    </section>
    
    <section id="settingsSection" style="display: none;">
        <!-- Settings Section Content -->
        <h2 style="position: relative; left: 100px; top: 30px; font-size: 30px;">Settings Section</h2>
    </section>

    <script>
        function showSection(sectionId) {
        const sections = document.querySelectorAll('section');
        sections.forEach(section => {
            if (section.id === sectionId + 'Section') {
            section.style.display = 'block';
            } else {
            section.style.display = 'none';
            }
        });
        }
        
        function openTab() {
            // Toggle display of the fetched content overlay
            const overlay = document.getElementById('overlay');
            overlay.style.display = (overlay.style.display === 'block') ? 'none' : 'block';
        }


        const addReportButton = document.getElementById("addReportButton");
        const modal = document.getElementById("modal");
        const modalContent = document.getElementById("modalContent");
        // const addReportForm = document.getElementById("addReportForm");
        // const tableBody = document.getElementById("dataTable").getElementsByTagName('tbody')[0];
        addReportButton.addEventListener("click", () => {
                 modal.style.display = "block";
                   });

        const idFilter = document.getElementById("idFilter");
        const dateFilter = document.getElementById("dateFilter");
        const timeFilter = document.getElementById("timeFilter");
        const typeFilter = document.getElementById("typeFilter");
        const priorityFilter = document.getElementById("priorityFilter");
        const locationFilter = document.getElementById("locationFilter");
        const statusFilter = document.getElementById("statusFilter");

        const table = document.getElementById("dataTable");
        const rows = table.getElementsByTagName("tr");

        const addReportForm = document.getElementById("addReportForm");
        const messageElement = document.getElementById("add-new-report-form-message");
        addReportForm.addEventListener("submit", function(event) {
            event.preventDefault();

            // Capture form data
            const formData = new FormData(addReportForm);

            // Send data to Flask route using fetch API
            fetch('/security/add-incident-report', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                console.log('Response status code:', response.status);
                if (response.ok) {
                messageElement.textContent = 'Response status code: ' + response.status;
                addReportForm.reset(); // Clear the form on success (2xx status code)
                } else {
                throw new Error('Failed to add item');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                messageElement.textContent = 'Error sending data: ' + error.message;
            })
            .finally(() => {
                // Show the message element
                messageElement.style.display = 'block';
            });
        });

        const updateIncidentForm = document.getElementById("updateIncidentForm");
        updateIncidentForm.addEventListener("submit", function(event) {
            event.preventDefault();

            // Capture form data
            const formData = new FormData(updateIncidentForm);

            // Send data to Flask route using fetch API
            fetch('/security/update-incident', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                console.log('Response status code:', response.status);
                if (response.ok) {
                    console.log('Incident updated successfully');
                } else {
                throw new Error('Failed to add item');
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
            })
            .finally(() => {
                // Show tab
                openTab()
            });
        });

            // Clear form values
            document.getElementById("datetime").value = "";
            document.getElementById("description").value = "";
            document.getElementById("type").value = "";
            document.getElementById("priority").value = "";
            document.getElementById("location").value = "";
            document.getElementById("building").value = "";
            document.getElementById("status").value = "";

            // Close the modal
            modal.style.display = "none";
    
        idFilter.addEventListener("input", filterTable);
        dateFilter.addEventListener("input", filterTable);
        timeFilter.addEventListener("input", filterTable);
        typeFilter.addEventListener("input", filterTable);
        priorityFilter.addEventListener("input", filterTable);
        locationFilter.addEventListener("input", filterTable);
        statusFilter.addEventListener("input", filterTable);

        function filterTable() {
            const idFilterValue = idFilter.value;
            const dateFilterValue = dateFilter.value;
            const timeFilterValue = timeFilter.value;
            const typeFilterValue = typeFilter.value.toLowerCase();
            const priorityFilterValue = priorityFilter.value.toLowerCase();
            const locationFilterValue = locationFilter.value.toLowerCase();
            const statusFilterValue = statusFilter.value.toLowerCase();

            for (let i = 1; i < rows.length; i++) {
                const idColumn = rows[i].getElementsByTagName("td")[0];
                const dateColumn = rows[i].getElementsByTagName("td")[1];
                const timeColumn = rows[i].getElementsByTagName("td")[2];
                const typeColumn = rows[i].getElementsByTagName("td")[3];
                const priorityColumn = rows[i].getElementsByTagName("td")[4];
                const locationColumn = rows[i].getElementsByTagName("td")[5];
                const statusColumn = rows[i].getElementsByTagName("td")[7];

                if (idColumn && dateColumn && timeColumn && typeColumn && priorityColumn &&
                    locationColumn && statusColumn) {
                    const idText = idColumn.textContent;
                    const dateText = dateColumn.textContent;
                    const timeText = timeColumn.textContent;
                    const typeText = typeColumn.textContent.toLowerCase();
                    const priorityText = priorityColumn.textContent.toLowerCase();
                    const locationText = locationColumn.textContent.toLowerCase();
                    const statusText = statusColumn.textContent.toLowerCase();

                    const idMatch = idFilterValue === '' || idText.includes(idFilterValue);
                    const dateMatch = dateFilterValue === '' || dateText === dateFilterValue;
                    const timeMatch = timeFilterValue === '' || timeText.includes(timeFilterValue);
                    const typeMatch = typeFilterValue === 'all' || typeText.includes(typeFilterValue);
                    const priorityMatch = priorityFilterValue === 'all' || priorityText.includes(priorityFilterValue);
                    const locationMatch = locationFilterValue === 'all' || locationText.includes(locationFilterValue);
                    const statusMatch = statusFilterValue === 'all' || statusText.includes(statusFilterValue);

                    if (idMatch && dateMatch && timeMatch && typeMatch && priorityMatch &&
                        locationMatch && statusMatch) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }

        const statusInputs = document.querySelectorAll(".status-input");

        statusInputs.forEach((input) => {
            input.addEventListener("change", function () {
                const row = this.closest("tr");
                const status = this.value;
                const uniqueid = row.cells[0].textContent;
                const record = data.find((record) => record['Incident ID'] === uniqueid);
                if (record) {
                    record['Status'] = status;
                }
            });
        });

        function openModal() {
            document.getElementById('modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }

        function logout() {
            // Redirect to the home page URL
            window.location.href = '/';
        }
    </script>
</body>   
</html>